/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2018, 2:48:16 PM
    Author     : PaulDunn
*/

/*
**  Deposits
**  margin: top right bottom left;
*/

.daPage
{
    position: relative;
    margin: 0px 180px 0px 180px;
    height: 440px;
    width: 600px;
    padding: 16px;
    background-color: rgba(255, 255, 255, .4) !important;
    
    overflow: hidden;    
    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;  
    
    font-family: Olivetti !important;
    font-size: 11px !important;
    font-weight: normal !important;
    line-height: 16px !important;
    color: #111111;
    
    text-align: left;        
}

.stageOne, .stageTwo, .stageThree, .stageFive, .stageFour
{
    position: relative;
    padding: 16px;
    height: 408px;
}

.stageOne p
{   
    margin-bottom: 16px;
    color: #111111;   
    height: 92px;
    letter-spacing: -1px;
}

.stageOne md-input-container
{
    position: absolute;
    bottom: 0;    
    display: block;
    margin: 0;
    padding: 0;
    width: 536px;
}

.stageOne textarea
{
    display: block;
    margin: 0;
    padding: 0;  
    overflow:hidden;  
    color: #111111;
    height: 300px;    
}

[disabled] md-input-container .md-input, md-input-container .md-input[disabled]
{
    color: #333333 !important;
}

md-checkbox
{
    margin-left: 32px !important;
    margin-bottom: 0px !important;
}

md-checkbox p
{
    margin-left: 32px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.paperButton
{    
    width: 100%;
    text-align: center; 
    padding-top: 0px;
    margin-top: 0px;  
}

.paperButton div
{   
    padding: 16px;
    text-align: center;    
}

.paperButton p
{
    float: left;
    padding: 0px !important;
    margin-top: 0px !important;
    display: inline;
    font-family: SkitchRegular;
    font-weight: bold;
    line-height: 36px;
    font-size: 36px;
    width: 100%;
    text-align: center;
}

/*
**  Keyboard CSS
*/

.keyBoardLayout
{
    display: block;
    margin-top: 164px;
    margin-left: 48px;
    text-align: center;
    float: left;
    width: 864px;
}

.keyBoardLayout ul
{
    display: block;
    margin: 0;
    padding: 0;
}

.keyBoardLayout ul li
{    
    padding: 0 !important;
    margin-bottom: 6px !important;
    float: left;
    text-align: centre;
    width: 72px;
}

.keyBoardLayout img
{
    opacity: 1;    
}

.line1
{
    animation-duration: 0.15s;
    -moz-animation-duration: 0.15s;    
    -webkit-animation-duration: 0.15s;
    
    text-align: center;
}

.line1 img
{    
    background-color: black;
    width: 64px;
    
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;

    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
}

.shiftDeposit, .actualDeposit
{    
    width: 128px !important;     
}

.shiftDeposit img, .spaceBar img, .actualDeposit img
{
    margin-top: 12px;
    height: 64px;
    /* width: 168px; */
    
    background-color: black;
    
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;

    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);    
}

.actualDeposit img
{
    background-color: #862F2C;
    
}

.spaceBar
{
    width: 384px !important; 
}

/*
**  Numpad
*/


.numPad
{
    display: block;
    padding: 0px;
    margin: 5%;
    text-align: center;
    float: left;
    width: 40%;  
    height: 332px;
    background-color: rgba(255, 255, 255, .4) !important;    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;                
    
}

.numPad ul, .numPad div
{
    display: block;
    padding: 32px;
    float: left
}

.numPad ul li
{    
    padding: 0 !important;
    margin-bottom: 6px !important;
    float: left;
    text-align: centre;
    width: 72px;
}

#readyGoNext
{
    display: none; 
}
