/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2018, 10:30:25 AM
    Author     : PaulDunn
*/

/*
**  Special Fonts
*/

@font-face 
{
    font-family: BalfordBase;
    src: url("Fonts/Balford-Base.otf");
}

@font-face 
{
    font-family: SourceSansProLight;
    src: url("Fonts/SourceSansPro-Regular.otf");
}

@font-face 
{
    font-family: SkitchRegular;
    src: url("Fonts/Yellow Design Studio - Skitch.otf");
}

selector 
{ 
    cursor: none; 
}

body
{
    font-family: SourceSansProLight, Source Sans, Bookman, Georgia, "Lucida Console", Monaco, monospace !important;
    font-size: 1em;
    font-weight: normal;
    color: #331100;
    background-color: #FFFFFF;
    
    background-image: url("../Images/Common/Background_Pantone454.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;    

    margin: 0;
    padding: 0;
}

p
{
    font-size: 16pt;
    margin-top: 32px !important;
}

td img
{
    width: 100%; 
    opacity: .4;
}

h1
{
    font-family: BalfordBase !important;
    display: block;
    font-size: 32pt !important;
    text-align: left;
}

h2
{
    font-size: 1.2em;
    margin-top: 0 !important;
}

ul
{
    list-style: none;
    margin-bottom: 24px;
}

li
{
    padding-left: 24px;
    margin-bottom: 24px;
    text-align: left;
}

.container
{
    text-align: center;
    width: 96%;   
    margin: 0;
    padding: 2%;
    border: 1px #663300 solid;    
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;  
    background-color: rgba(255,255,222, 1);
    
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);    
}

md-whiteframe
{
    background-color: #FFFFFF;
    padding: 24px;
}


md-dialog
{
    padding: 24px;
    width: 40%;
}

.grid-container 
{
    padding: 32px;
    display: grid;
}

.roomDirectory
{
    height: 1016px !important;  
    
    grid-template-columns: 100px 207px 207px 207px 207px 207px 207px 207px 207px 100px;
    grid-template-rows: 100px 116px 700px 100px;    
}

.itemDirectory
{
    margin: 0px;
    padding: 0px;    
    text-align: center;
}

.itemDirectory img
{ 
    
    height: 116px; 
    opacity: 1;    
}

.itemDirectory p
{ 
    text-align: left;
}

*:focus 
{
    outline: none;
}

.selectedImage
{    
    padding: 32px;
    
    background-image: url("../Images/RoomC/itemHighlight.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

.findYourVoice
{    
    padding: 32px;
    font-family: SkitchRegular; 
    font-size: 3em; 
    color: red; 
    text-align: center;    
    border: 1px dashed #FF0000;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    border-radius: 64px;   
}

.exposition
{
    margin: 0;
    padding: 0;
    padding-left: 32px;
    padding-right: 32px;
    height: 816px;
    overflow-y: hidden;
}

.leftBorder
{
    border-left: 1px solid #C1B49A;
}

.rightBorder
{
    border-right: 1px solid #C1B49A;
}

.topBorder
{
    border-top: 1px solid #C1B49A;
}

.bottomBorder
{
    border-bottom: 1px solid #C1B49A;
}

.topBarLeft
{    
    background-image: url("../Images/RoomC/topBarLeft.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.topBarRight
{    
    background-image: url("../Images/RoomC/topBarRight.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: right;
}

.bottomBarLeft
{    
    background-image: url("../Images/RoomC/bottomBarLeft.svg");
    background-repeat: no-repeat;
    background-position: center top;
}

.bottomBarRight
{    
    background-image: url("../Images/RoomC/bottomBarRight.svg");
    background-repeat: no-repeat;
    background-position: center top;
}

.keyBoardLayout
{
    display: block;
}

.keyBoardLayout ul li
{    
    padding: 0 !important;
    margin-bottom: 6px !important;
    float: left;
    text-align: centre;
    width: 64px;
}

.line1 img
{    
    background-color: black;
    width: 56px;
    
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;

    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
}