/*
    Created on : Feb 5, 2018, 10:30:25 AM
    Author     : PaulDunn

    Core elements
*/



@media only screen and (min-width: 1920px) 
{
    
    md-dialog
    {
        padding: 32px;
        width: 40%;
        background-image: url("../Images/Common/DialogBackground.jpg");      
        background-size:cover;
    }
    
}


.stageOne md-content, .stageFive md-content
{
    overflow: visible !important;    
}


.letterAccent
{
    height: 64px;  
    margin-top: -12px;
}

.screenSaveAccent
{
    height: 128px;  
    margin-top: -24px;
}

.navigationBar
{
    margin: 16px;
    margin-top: 0px;
    text-align: center;
}

.navigationBar ul
{
    float: left;
    margin: 0;
    margin-left: 32px;
    padding: 0px;    
    list-style: none;
    display: block;
    text-align: center;
}

.navigationBar ul li
{
    margin: 0;
    padding: 0;
    width: 148px;
    float: left;
    text-align: center;
}

.navigationBar ul li img
{ 
    margin: 0;
    padding: 0;    
    height: 152px;
    max-width: 152px;
    opacity: 1;   
}

.largeNavImage
{
    margin: 0;
    padding: 0;    
    height: 256px;
    opacity: 1;     
}

.NavImage
{
    margin: 0;
    padding: 0;    
    height: 180px;
    opacity: 1;     
}

.selectedImage
{        
    background-image: url("../Images/Common/itemHighlight.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

.charSelector, .charDisplay
{
    padding: 16px;
    margin: 16px;
    background-color: rgba(255, 255, 255, .4) !important;    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;      
}

h3
{
    margin: 0;
    font-family: BalfordBase !important;
    display: inline !important;
    text-align: center;    
    font-size: 24px;    
}

.charSelector
{
    margin: 36px;
}

.charDisplay img
{
    width: 256px;
    margin: 0px;
}

.charSelector img
{   
    width: 88px; 
}


#hairSelected 
{
    position: relative;
    margin-top: 118px;
    margin-left: 6px; 
    z-index: 50;
}

#facesSelected 
{
    position: relative;    
    margin-top: -274px;
    margin-left: 22px; 
    z-index: 40;
}

#torsoSelected 
{
    position: relative;    
    margin-top: -148px;
    margin-left: 46px;     
    z-index: 20;    
}

#armsSelected 
{
    position: relative;    
    margin-top: -304px;
    margin-left: 14px;     
    z-index: 30;    
}
#handsSelected 
{
    position: relative;    
    margin-top: -246px;
    margin-left: -10px;    
    z-index: 50;     
}
#legsSelected 
{
    position: relative;
    margin-left: 46px;
    margin-top: -218px;
    z-index: 10;        
}
#feetSelected 
{
    position: relative;    
    margin-top: -211px;
    margin-left: 32px;    
    z-index: 20;        
}

/*
**  Exposition about it all
*/

.exposition
{
    margin: 0;
    padding: 16px;
    overflow-y: hidden;
}

.exposition p
{
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
}

/*
**  Finally let's keep the logos sensible
*/

.logo img
{
    max-width: 100%;
    max-height: 100%;
}

/*
**  Material Elements
*/

.md-whiteframe-1dp
{
    margin: 8px;
    padding: 16px;
    background: white;
}

md-tabs .md-tab 
{
    color: #111111 !important;
    font-weight: bold !important;
    font-family: SourceSansProLight !important;
}

/*
**  Character Selector
*/

.styleSelector
{
    margin: 0;
    padding: 0;
    padding-top: 8px;
    text-align: center;
}

.styleSelector ul
{
    list-style: none;
    margin: 16px;
}

.styleSelector ul li
{
    float: left;
    padding: 16px;
    margin: 16px;
    background-color: rgba(255, 255, 255, .4) !important;    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;            
}

.styleSelector ul li img
{
    width: 128px;
}

/*
**  Screen Saver
*/

h1.screenSaverTitle
{
    font-size: 64px !important;
    margin: 16px;   
}

.callToAction
{
    padding: 16px;
    background-image: url("../Images/Common/CallToAction.png");           
    background-repeat: no-repeat;
    background-size: contain;
}

 .maryWindLeft, .maryWindRight
 {
    position: absolute;
    height: 256px;
    opacity: 0.0;  
    animation-name: maryWindAnim;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: initial;     
 }

.maryFloat
{
    position: absolute;
    height: 256px;
    opacity: 0.0;  
    animation-name: maryUmbrellaFlightAnim;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: initial;        
}

.maryGoRound
{
    position: absolute;
    margin-top: 32px;
    height: 256px;
    opacity: 0.0;  
    animation-name: maryGoRoundAnim;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: initial;        
}

.maryWindPoppinsLeft, .maryWindPoppinsRight
{
    position: absolute;
    height: 256px;
    opacity: 0.0;  
    animation-name: maryWindPoppinsLeftAnim;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: initial;        
}

/* Standard syntax */
@keyframes maryUmbrellaFlightAnim 
{
    
    0%   { opacity: 0; margin-top: 100px; }
    17%  { opacity: .6; }
    66%  { opacity: .4; }
    83%  { opacity: .2; }
    100% { opacity: 0; margin-top: -720px; }
    
}


@keyframes maryGoRoundAnim 
{
    
    0%   { opacity: 0; }
    17%  { opacity: .6; }
    66%  { opacity: .4; }
    83%  { opacity: .2; }
    100% { opacity: 0; margin-left: -1600px; }

}

@keyframes maryWindPoppinsLeftAnim 
{
    
    0%   { opacity: 0; }
    17%  { opacity: .6; }
    66%  { opacity: .4; }
    83%  { opacity: .2; }
    100% { opacity: 0; margin-left: -200px; }    

}

@keyframes maryWindAnim 
{
    
    0%   { opacity: 0; }
    17%  { opacity: .1; }
    66%  { opacity: .2; }
    83%  { opacity: .1; }
    100% { opacity: 0; } 
    
}


/*
**  Angular Material overrides
*/

.md-title, .md-dialog-content h1
{
    margin: 0 !important;
    padding: 0 !important;    
    padding-bottom: 24px;
    font-family: BalfordBase !important;
    display: inline !important;
    font-size: 42px !important;
    line-height: 42px;
    text-align: center;
    color: #862F2C !important;   
    
}

.md-confirm-button
{
    margin: 0 !important;
    padding: 0 !important;       
    font-family: BalfordBase !important;
    display: inline !important;
    font-size: 24px !important;
    line-height: 24px;
    text-align: center;
    color: #862F2C !important;   
    
}

.md-cancel-button
{
    margin: 0 !important;
    padding: 0 !important;       
    font-family: BalfordBase !important;
    display: inline !important;
    font-size: 24px !important;
    line-height: 24px;
    text-align: center;
    color: #005470 !important;   
    
}

.md-dialog-content-body
{
    padding-top: 24px !important;    
}


.md-dialog-content
{
    padding: 0 !important;
}

.dialogButton
{
    font-family: SourceSansProLight !important;
    display: inline !important;
    font-size: 24px !important;
    line-height: 24px;
    text-align: center;        
}

.paperButton
{
    overflow: hidden;
}

/*
**  Room I
*/

.cloudSelecter
{
    position: relative;
    text-align: center;
    width: 384px;
    height: 216px;
    padding: 0;
    margin: 0;
}

.cloudContainer img
{        
    width: 384px;
    height: 216px;    
}

.cloudContainer h3
{        
    position: absolute;
    top: 75px;
    text-align: center;
    display: block !important;  
    width: 100%;
    font-size: 42px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    pointer-events: none;    
}

.gifContainer 
{
    position: absolute;
    top: 0;      
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
}

.gifContainer img
{
    height: 216px;
    opacity: .8;
}