/* 
    Created on  : Feb 28, 2019, 10:37:21 AM
    Author      : PaulDunn
    Notes       : This file was consolidated to simplify releases.
*/

/*
**  Special Fonts
**  Global Colours and attributes
*/

@font-face 
{
    font-family: BalfordBase;
    src: url("Fonts/Balford-Base.otf");
}

@font-face 
{
    font-family: Olivetti;
    src: url("Fonts/zai_Olivetti-UnderwoodStudio21Typewriter.otf");
}

@font-face 
{
    font-family: SourceSansProLight;
    src: url("Fonts/SourceSansPro-Light.otf");
}

@font-face 
{
    font-family: SkitchRegular;
    src: url("Fonts/Yellow Design Studio - Skitch.otf");
}

.blue
{
    color: #005470 !important;
}

.red
{
    color: #862F2C  !important;
}

.hoverCursor
{
    cursor: pointer;
}

.underline
{
    text-decoration: underline;
}

.center
{
    text-align: center;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;    
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*
**  Global tag overrides
*/

body
{
    font-family: SourceSansProLight, Source Sans, Bookman, Georgia, "Lucida Console", Monaco, monospace !important;
    font-size: 1em;
    font-weight: normal;
    color: #333333;
    
    background-color: rgb(248, 214, 166);

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;        
}

h1, h2, h3
{
    margin: 0 !important;
    padding: 0 !important;    
    font-family: BalfordBase !important;
    display: block !important;
    font-size: 4em !important;
    text-align: center !important;
    color: #333333 !important;
}

h2
{
    font-size: 2em !important;
}

h3
{
    font-size: 1em !important;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

li
{
    padding: 0;
    margin: 0;
    text-align: left;
}

p
{    
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    
    margin: 0;
    margin-bottom: 24px;
    padding: 0; 
    text-align: left;
}

*:focus 
{
    outline: none;
}

md-whiteframe
{
    background-color: #EEEEEE;
    padding: 1em;
}

md-dialog
{
    padding: 1em;
    width: 80%;
    background-image: url("../Images/Common/DialogBackground.jpg");      
    background-size:cover;    
}

[disabled] md-input-container .md-input, md-input-container .md-input[disabled]
{
    color: #333333 !important;
}

.grid-container 
{
    padding: 0;
    margin: 0;    
    display: grid;
}

/*
**  High Level Containers, standardise grid layout
*/  

.deposits, .withdrawals, .curation, .screenSaver, .menu, .emailSubmission
{
    background-image: url("../Images/Common/ScreenSaverBackground.jpg");           
    
    height: 100vh;
    width: 100vw;     
    
    padding: 0px;
    margin: 0px;

    background-repeat: no-repeat;
    background-size: cover;

    grid-template-columns: 1% 8% 8% 8% 8% 8% 8% 1% 1% 8% 8% 8% 8% 8% 8% 1%;    
    grid-template-rows: 2% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 2%;    
    
    overflow: hidden;
}

@media only screen and (min-width: 1920px) 
{
    
    md-dialog
    {
        width: 40%;        
    }
    
}

.emailSubmission
{
    width: 100%;
}

.deposits
{
    background-image: url("../Images/Common/typeWriterBackground.png"); 
}

/*
**  Menu
*/

.deposits img
{
    max-height: 192px;
}

.menuItem 
{
    margin: 1em;
    padding: 1em;
    border-radius: 1em;   
    background-color: rgba(255,255,255, .2);
}

.selectedImage
{        
    background-image: url("../Images/Common/itemHighlight.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

/*
**  Keyboard
*/

.typeWriter
{
    
    height: 90vh;
    width: 50vw;
    
    grid-template-columns: 8% 8% 68% 8% 8%;
    grid-template-rows: 50% 50%;

}

.keyBoardPage
{
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, .4) !important;
    overflow: hidden;    
    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;  
    
    font-family: Olivetti !important;
    font-size: 11px !important;
    font-weight: normal !important;
    line-height: 16px !important;
    color: #111111;
}

.keyBoardPage md-content
{
    background-color: transparent;    
}

.keyBoardPage md-input-container
{
    position: absolute;
    bottom: 0;    
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;   
    color: #666666 !important;
}

.keyBoardLayout
{
    margin-top: 48px;   
}

.emailSubmission .keyBoardLayout
{
    width: 100%;
}

.keyBoardLayout ul
{
    display: block;
    margin: 0;
    padding: 0;
}

.keyBoardLayout ul li
{    
    float: left;
    margin: 0;    
    width: calc(100% / 12);  
    padding: .2%;
    text-align: center;
}

.shiftDeposit, .actualDeposit
{   
    margin-top: 16px !important;    
    width: calc(100% / 6) !important;  
}

.spaceBar
{
    margin-top: 16px !important;
    margin-left: calc(100% / 12) !important;  
    margin-right: calc(100% / 12) !important;  
    width: calc(100% / 2) !important; 
    
}

.line1, .shiftDeposit, .actualDeposit, .spaceBar
{
    animation-duration: 0.15s;
    -moz-animation-duration: 0.15s;    
    -webkit-animation-duration: 0.15s;
    
    text-align: center;
}

.line1 img, .shiftDeposit img, .spaceBar img, .actualDeposit img
{    
    opacity: 1;        
    
    background-color: black;
    width: 100%;
    
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;

    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.4);
}

.actualDeposit img
{
    background-color: #862F2C;
    
}

#textForStory
{
    display: block;
    margin: 0;
    padding: 0;  
    overflow:hidden;  
    color: #111111;
    width: calc(100% - 32px);
    margin-bottom: 16px;
}

/*
**  Common to all pages
*/

.letterAccent
{
    height: 3em;  
}

.logo img
{
    max-width: 100%;
    max-height: 100%;
}

/*
**  Screen saver
*/  

h1.screenSaverTitle
{
    font-size: 64px !important;
    margin: 16px;   
}

.callToAction
{
    padding: 16px;
    background-image: url("../Images/Common/CallToAction.png");           
    background-repeat: no-repeat;
    background-size: contain;
}

 .maryWindLeft, .maryWindRight
 {
    position: absolute;
    height: 256px;
    opacity: 0.0;  
    animation-name: maryWindAnim;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: initial;     
 }

.maryFloat
{
    position: absolute;
    height: 256px;
    opacity: 0.0;  
    animation-name: maryUmbrellaFlightAnim;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: initial;        
}

.maryGoRound
{
    position: absolute;
    margin-top: 32px;
    height: 256px;
    opacity: 0.0;  
    animation-name: maryGoRoundAnim;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: initial;        
}

.maryWindPoppinsLeft, .maryWindPoppinsRight
{
    position: absolute;
    height: 256px;
    opacity: 0.0;  
    animation-name: maryWindPoppinsLeftAnim;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: initial;        
}

/* Standard syntax */
@keyframes maryUmbrellaFlightAnim 
{
    
    0%   { opacity: 0; margin-top: 100px; }
    17%  { opacity: .6; }
    66%  { opacity: .4; }
    83%  { opacity: .2; }
    100% { opacity: 0; margin-top: -720px; }
    
}


@keyframes maryGoRoundAnim 
{
    
    0%   { opacity: 0; }
    17%  { opacity: .6; }
    66%  { opacity: .4; }
    83%  { opacity: .2; }
    100% { opacity: 0; margin-left: -1600px; }

}

@keyframes maryWindPoppinsLeftAnim 
{
    
    0%   { opacity: 0; }
    17%  { opacity: .6; }
    66%  { opacity: .4; }
    83%  { opacity: .2; }
    100% { opacity: 0; margin-left: -200px; }    

}

@keyframes maryWindAnim 
{
    
    0%   { opacity: 0; }
    17%  { opacity: .1; }
    66%  { opacity: .2; }
    83%  { opacity: .1; }
    100% { opacity: 0; } 
    
}

/*
**  Number Pad
*/

.numPad
{
    display: block;
    padding: 2%;
    margin: 2%;
    text-align: center;
    float: left;
    width: 96%;  

    background-color: rgba(255, 255, 255, .4) !important;    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;                
    
}

.numPad div, .numPad div p
{
    width: 100%;
    display: block;
    text-align: center;      
    font-family: Olivetti;
    font-size: 1em;
}

.numPad div p:last-child
{
    font-size: 2em;
}

.numPad table
{
    margin: auto;
}

.numPad td img
{    
    padding: 0 !important;
    margin: 3px !important;
    max-width: 64px;
}

#readyGoNext
{
    display: none; 
}

div.paperButton
{
    margin-top: 16px;
    padding: 4%;
    display: block;
}

div.paperButton p
{
    margin: 4%;
    display: inline;
    width: 50% !important;
    font-family: SkitchRegular !important;
    font-weight: bold !important;
    line-height: 36px !important;
    font-size: 36px !important;
}

/*
**  Character Generator
*/

.charSelector, .charDisplay
{
    padding: 1em;
    margin: 1em;
    background-color: rgba(255, 255, 255, .4) !important;    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;      
}

.charSelector h3, .charDisplay h3
{
    margin: 0 !important;
    font-family: BalfordBase !important;
    display: inline !important;
    text-align: center  !important;    
    font-size: 2em  !important;  
    margin-bottom: 1em  !important;
}

.charSelector img
{   
    width: 100%; 
}

/*
**  Ok, now this is ... all wrong, but it'll do ... boo.
*/  


#hairSelected 
{
    max-height: 100%;
    position: relative;
    margin-top: 64px;
    z-index: 50;
}

#facesSelected 
{
    max-height: 100%;
    position: relative;    
    margin-top: -274px;
    margin-left: 22px; 
    z-index: 40;
}

#torsoSelected 
{
    max-height: 100%;
    position: relative;    
    margin-top: -148px;
    margin-left: 42px;     
    z-index: 20;    
}

#armsSelected 
{
    max-height: 100%;
    position: relative;    
    margin-top: -304px;
    margin-left: 22px;     
    z-index: 30;    
}
#handsSelected 
{
    max-height: 100%;
    position: relative;    
    margin-top: -246px;
    margin-left: -10px;    
    z-index: 50;     
}
#legsSelected 
{
    max-height: 100%;
    position: relative;
    margin-left: 46px;
    margin-top: -218px;
    z-index: 10;        
}
#feetSelected 
{
    max-height: 100%;
    position: relative;    
    margin-top: -211px;
    margin-left: 36px;    
    z-index: 20;        
}

.styleSelector
{
    margin: 0;
    padding: 0;
    padding-top: 8px;
    text-align: center;
}

.styleSelector ul
{
    list-style: none;
    margin: 1em;
}

.styleSelector ul li
{
    float: left;
    padding: 1em;
    margin: 1em;
    background-color: rgba(255, 255, 255, .4) !important;    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;            
}

.styleSelector ul li img
{
    max-width: 128px;
}

.imageHolder
{
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

/*
**  Room I
*/

.cloudSelecter
{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}

.cloudContainer img
{        
    width: 100%;
}

.cloudContainer h3
{        
    position: absolute;
    top: 32px;
    text-align: center;
    display: block !important;  
    width: 100%;
    font-size: 2em !important;
    margin: 0 !important;
    padding: 32px !important;
    pointer-events: none;   
    text-shadow: 0px 0px 6px #FFFFFF;
}

.gifContainer 
{
    position: absolute;
    top: 0;      
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
}

.gifContainer img
{
    opacity: .8;
}

/*
**  Admin section
*/

#loginForm
{
    padding: 2em;
}

.md-whiteframe-1dp
{
    background-color: white;
}

.toolBar
{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
}

.md-button
{   
    float: left;
    /* width: 100%; */
}

/*
**  Withdrawals
*/

.myAccount img
{
    margin-top: -4%;
    width: 100%;        
}

/*
.category img
{
    width: 96%;
    margin: 2%;
}
*/

.category
{
    float: left;
    width: calc(100% / 3);
}

.category div
{
    margin: 1em;
    padding: 1em;
    font-size: 3em;   
    font-family: BalfordBase;
    background-color: rgba(255, 255, 255, .4) !important;    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;     
}


.withdrawals h3
{
    margin-top: 2em !important;
    margin-right: 2em !important;   
    font-family: BalfordBase !important;
    display: inline !important;
    font-size: 3em !important;
    line-height: 3em;
    text-align: left;
    color: #111111;    
}

.storyList, .storyDisplay
{
    margin-top: 5em;
    margin-bottom: 2em;
    padding: 0;
    background-color: rgba(255, 255, 255, .4) !important;

    overflow-x: hidden;
    overflow-y: auto;
    
    border-radius: 16px 0px 0px 16px;
    
    font-family: Olivetti !important;
    font-size: 1.5em !important;
    font-weight: normal !important;
    line-height: 1.5em !important;
    color: #333333;
    
    text-align: left;      
    
}

.storyList li, .storyDisplay div, .commentsList li
{
    padding: 1em;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(51, 51, 51, .6);
    padding-bottom: 1em;
}

.commentsList
{
    background-color: transparent;
    margin: 0 !important;
    padding: 0 !important;
}

.commentsList li div
{
    margin: 0;
    padding: 0;
}

.storyDisplay div
{
    border: none;
}

.storyDisplay p
{
    font-size: 1em;
    line-height: 1.6em;
}

.storyList div:first-child, .commentsList div:first-child
{
    float: left;
    width: 70%;
    display: inline;
}

.storyList div:last-child, .commentsList div:last-child
{
    text-align: right;
    float: right;
    width: 30%;
    display: inline; 
}

h3.instructions 
{
    display: block !important;
    padding: 0 !important;
    margin: -16px 16px 16px 16px !important;
    font-size: 2em !important;
    line-height: 2em !important;    

}

.gestures
{
    width: calc(100% - 32px);
    margin: 16px !important; 
    max-width: 96px;
}

.backButton
{
    width: calc(100% - 32px);
    margin: 16px !important; 
}
    
/*
**  Scrollbar
*/

/* width */
::-webkit-scrollbar {
  width: 2%;
}

/* Track */
::-webkit-scrollbar-track {
    background-image: url("../Images/RoomL/Thermometer.svg");      
    background-size: cover;
}

/* Handle */
::-webkit-scrollbar-thumb {
    
    background: rgba(114, 32, 33, 1);

}

.thermometer
{
    margin-top: 50px;    
    margin-bottom: 16px;    
    height: calc(100% - 66px);    
}

/*
**  Handle curation
*/

.curation
{
    overflow-y: auto;
}

.curation md-input-container
{
    font-size: 2em;    
}

.curation md-input-container button
{
    float: right;    
}

.curation md-input-container button:first-child
{
    margin-right: 0;
}

.curation p, .curation td, .modalText
{
    margin: 0;
    font-size: 1.4em;
    overflow: hidden;
}

