/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2019, 9:27:00 AM
    Author     : PaulDunn
*/

h3
{
    margin-top: 24px !important;
    margin-right: 24px !important;   
    font-family: BalfordBase !important;
    display: inline !important;
    font-size: 32px !important;
    line-height: 36px;
    text-align: left;
    color: #111111;    
}

.myAccount
{
    /* margin-top: -32px; */
    
}

.myAccount img
{
    margin-top: -4%;
    width: 100%;    
    max-width: 160px;
}

.backButton
{
    width: 100%;
    max-width: 160px;
}

.storyDirectory
{
    background-image: url("../Images/Common/ScreenSaverBackground.jpg");           
    
    height: 100vh;
    width: 100vw;     
    
    padding: 0px;
    margin: 0px;

    background-repeat: no-repeat;
    background-size: cover;

    grid-template-columns: 2% 12% 12% 12% 12% 12% 12% 12% 12% 2%;    
    grid-template-rows: 2% 12% 12% 12% 12% 12% 12% 12% 12% 2%;    
    
    overflow: hidden;
}

@media only screen and (max-width: 1080px) 
{
    
    .category img
    {
        height: 30%;    
    }   
    
    .myAccount img
    {
        width: 100%;    
    }    
    
}

.gestures
{
    width: 80%;
    
}

.headerUnderline
{
    text-decoration: underline;
}

.instructions
{
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 46px !important;        
    font-size: 18px !important;
    line-height: 24px !important;
}

.thermometer
{
    margin-top: 50px;    
    margin-bottom: 16px;    
    height: calc(100% - 66px);    
}

.storyList, .storyDisplay
{
    margin-top: 50px;
    margin-bottom: 24px;
    margin-right: 24px;    
    padding: 0;
    background-color: rgba(255, 255, 255, .4) !important;

    overflow-x: hidden;
    overflow-y: auto;
    
    border-radius: 16px 0px 0px 16px;
    
    font-family: Olivetti !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 22px !important;
    color: #333333;
    
    text-align: left;      
    
}

.storyDisplay div
{
    padding: 24px;    
}

.storyDisplay p
{
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 22px !important; 
}


.storyList ul
{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;     
}

.storyList li
{
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
    padding: 0px;
    width: 96%;    
}

.storyList li
{
    border-bottom: 1px solid rgba(51, 51, 51, .8);
    padding-bottom: 12px;
}

.storyList div:first-child
{
    float: left;
    width: 70%;
    display: inline;
}

.storyList div:last-child
{
    text-align: right;
    float: right;
    width: 30%;
    display: inline;    
}

.storyHeart
{
    margin-top: 50px;
    width: 33%;
}

/*
**  Scrollbar
*/

/* width */
::-webkit-scrollbar {
  width: 2%;
}

/* Track */
::-webkit-scrollbar-track {
    background-image: url("../Images/RoomL/Thermometer.svg");      
    background-size: cover;
}

/* Handle */
::-webkit-scrollbar-thumb {
    
    background: rgba(114, 32, 33, 1);
    
    /* background-image: url("../Images/RoomL/ThermometerRed.svg");      
    background-size: 100%; */
}
