<div class="styleSelector">

    <h1 class="red">Select the Feet</h1>
    <br/>
    <br/>
    <br/>
    <ul>
        <li ng-click="returnImage('Feet0001.png');">
            <img src="Images/CharacterAssets/Feet/Feet0001.png" />
        </li>

        <li ng-click="returnImage('Feet0002.png');">
            <img src="Images/CharacterAssets/Feet/Feet0002.png" />
        </li>

        <li ng-click="returnImage('Feet0003.png');">
            <img src="Images/CharacterAssets/Feet/Feet0003.png" />
        </li>

        <li ng-click="returnImage('Feet0004.png');">
            <img src="Images/CharacterAssets/Feet/Feet0004.png" />
        </li>

        <li ng-click="returnImage('Feet0005.png');">
            <img src="Images/CharacterAssets/Feet/Feet0005.png" />
        </li>

        <li ng-click="returnImage('Feet0006.png');">
            <img src="Images/CharacterAssets/Feet/Feet0006.png" />
        </li>

        <li ng-click="returnImage('Feet0007.png');">
            <img src="Images/CharacterAssets/Feet/Feet0007.png" />
        </li>

        <li ng-click="returnImage('Feet0008.png');">
            <img src="Images/CharacterAssets/Feet/Feet0008.png" />
        </li>  
    </ul>
    <br/>
    <br/>
    <br/>    
</div>