<div class="styleSelector">

    <h1 class="red">Select a Hair Style</h1>
    <br/>
    <br/>
    <br/>
    <ul>
        <li ng-click="returnImage('Hair0001.png');">
            <img src="Images/CharacterAssets/Hair/Hair0001.png" />
        </li>

        <li ng-click="returnImage('Hair0002.png');">
            <img src="Images/CharacterAssets/Hair/Hair0002.png" />
        </li>

        <li ng-click="returnImage('Hair0003.png');">
            <img src="Images/CharacterAssets/Hair/Hair0003.png" />
        </li>

        <li ng-click="returnImage('Hair0004.png');">
            <img src="Images/CharacterAssets/Hair/Hair0004.png" />
        </li>

        <li ng-click="returnImage('Hair0005.png');">
            <img src="Images/CharacterAssets/Hair/Hair0005.png" />
        </li>

        <li ng-click="returnImage('Hair0006.png');">
            <img src="Images/CharacterAssets/Hair/Hair0006.png" />
        </li>

        <li ng-click="returnImage('Hair0007.png');">
            <img src="Images/CharacterAssets/Hair/Hair0007.png" />
        </li>

        <li ng-click="returnImage('Hair0008.png');">
            <img src="Images/CharacterAssets/Hair/Hair0008.png" />
        </li>  
    </ul>
    <br/>
    <br/>
    <br/>    
</div>