<div class="styleSelector">

    <h1 class="red">Select the Hands</h1>
    <br/>
    <br/>
    <br/>
    <ul>
        <li ng-click="returnImage('Hands0001.png');">
            <img src="Images/CharacterAssets/Hands/Hands0001.png" />
        </li>

        <li ng-click="returnImage('Hands0002.png');">
            <img src="Images/CharacterAssets/Hands/Hands0002.png" />
        </li>

        <li ng-click="returnImage('Hands0003.png');">
            <img src="Images/CharacterAssets/Hands/Hands0003.png" />
        </li>

        <li ng-click="returnImage('Hands0004.png');">
            <img src="Images/CharacterAssets/Hands/Hands0004.png" />
        </li>

        <li ng-click="returnImage('Hands0005.png');">
            <img src="Images/CharacterAssets/Hands/Hands0005.png" />
        </li>

        <li ng-click="returnImage('Hands0006.png');">
            <img src="Images/CharacterAssets/Hands/Hands0006.png" />
        </li>

        <li ng-click="returnImage('Hands0007.png');">
            <img src="Images/CharacterAssets/Hands/Hands0007.png" />
        </li>

        <li ng-click="returnImage('Hands0008.png');">
            <img src="Images/CharacterAssets/Hands/Hands0008.png" />
        </li>  
        
        <li ng-click="hideModal();">
            <img src="Images/CharacterAssets/Close.png" />
        </li>            
        
    </ul>
    <br/>
    <br/>
    <br/>    
</div>