<div class="styleSelector">

    <h1 class="red">Select the Legs</h1>
    <br/>
    <br/>
    <br/>
    <ul>
        <li ng-click="returnImage('Legs0001.png');">
            <img src="Images/CharacterAssets/Legs/Legs0001.png" />
        </li>

        <li ng-click="returnImage('Legs0002.png');">
            <img src="Images/CharacterAssets/Legs/Legs0002.png" />
        </li>

        <li ng-click="returnImage('Legs0003.png');">
            <img src="Images/CharacterAssets/Legs/Legs0003.png" />
        </li>

        <li ng-click="returnImage('Legs0004.png');">
            <img src="Images/CharacterAssets/Legs/Legs0004.png" />
        </li>

        <li ng-click="returnImage('Legs0005.png');">
            <img src="Images/CharacterAssets/Legs/Legs0005.png" />
        </li>

        <li ng-click="returnImage('Legs0006.png');">
            <img src="Images/CharacterAssets/Legs/Legs0006.png" />
        </li>

        <li ng-click="returnImage('Legs0007.png');">
            <img src="Images/CharacterAssets/Legs/Legs0007.png" />
        </li>

        <li ng-click="returnImage('Legs0008.png');">
            <img src="Images/CharacterAssets/Legs/Legs0008.png" />
        </li>  
    </ul>
    <br/>
    <br/>
    <br/>    
</div>