<div>
<table style="width: 100%;" border="0" cellspacing="2" cellpadding="2">
<thead style="width: 100%;">
<tr><th style="width: 25%;"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> </span></th>
    <th style="width: 25%;"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> </span></th>
    <th style="width: 25%;"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> </span></th>
    <th style="width: 25%;"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> </span></th></tr>
</thead>
<tbody style="width: 100%;">
<tr>
<td style="font-weight: bold;" colspan="4"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">PLEASE MAKE REFERENCE TO THE QUOTE NUMBER WHEN PLACING YOUR ORDER</span></td>
</tr>
<tr>
<td colspan="4"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">Delivery to $aos_quotes_shipping_address_city, $aos_quotes_shipping_address_state - freight costs are estimates only</span></td>
</tr>
<tr>
<td colspan="4"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">Signs to be stored by Council prior to installation</span></td>
</tr>
<tr>
<td colspan="4"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> </span></td>
</tr>
<tr>
<td style="font-weight: bold;" colspan="4"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">INSTALLATION QUALIFICATION</span></td>
</tr>
<tr>
<td colspan="4"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">Should our installers be delayed in the installation of the outdoor signage due to inclement weather or any other unforeseen circumstances and the installation is prolonged or an additional trip is required further costs may be incurred</span></td>
</tr>
<tr>
<td colspan="4"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> </span></td>
</tr>
<tr>
<td colspan="4"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> </span></td>
</tr>
<tr>
<td style="vertical-align: top; text-align: left;">
<p><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">Sales Employee:</span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">Payment Terms:</span></p>
</td>
<td style="vertical-align: top; text-align: left;">
<p><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">$aos_quotes_modified_by_name</span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">$aos_quotes_term from invoice date</span></p>
</td>
<td style="vertical-align: top; text-align: right;" colspan="2"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"><strong>Contact</strong></span><br /><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> www.armsign.com.au</span><br /><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> sales@armsign.com.au</span><br /><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> 6 Holland Street, Goonellabah</span><br /><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> PO Box 7003, Lismore Heights NSW 2480</span><br /><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> T: 02 6625 1122 F: 02 66252400</span><br /><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;"> ABN: 21 003 101 684</span></td>
</tr>
<tr>
<td colspan="4"><span style="font-family: arial, helvetica, sans-serif; font-size: x-small;">This quote is firm for 30 days only, after which time it must be confirmed</span></td>
</tr>
</tbody>
</table>
</div>