<div class="grid-container roomDirectory">
    
    <!-- Row 1 Background image -->
    <div style="grid-column: 1 / span 5; grid-row: 1 / span 2;">
        
        <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />
        
         <h1 class="blue">Inspiration Station</h1>
         
        <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />
         
         <h2>
            <b class="blue">Create</b> a character from the options available.
        </h2>
    </div>
    
    <div style="grid-column: 6 / span 5; grid-row: 1;">
         <h1 class="red">Make a deposit into the Story Bank</h1>
    </div>    

    <div class="grid-item" style="grid-column: 6 / span 5; grid-row: 2 / span 8;">
        <div ng-include src="'Templates/Keyboard/depositCreation.html'" ng-controller="KeyboardCTRL"></div>                                    
    </div>          

    <!-- Nav Elements -->
    
    <!--
        grid-template-columns: 192px 192px 192px 192px 192px 192px 192px 192px 192px 192px;    
        grid-template-rows: 108px 108px 108px - 108px 108px 108px 108px 108px 108px 108px;    
    -->

    <div class="grid-item navigationBar charSelector" style="grid-column: 1; grid-row: 2 / span 2;" ng-click="triggerChange()">        
        <br/>
        <h1>Hair</h1>
        <img src="Images/CharacterAssets/Hair/Hair0001.png" />
        
        <br/>
    </div>    
    
    <div class="grid-item navigationBar" style="grid-column: 2 / span 3; grid-row: 2 / span 8; background: #FFFFFF; opacity: .4;">        
        <br/>
        <h1>Your Character</h1>
        Character in Progress
        
        <br/>
    </div>                  

    <div class="grid-item navigationBar charSelector" style="grid-column: 5; grid-row: 2 / span 2;" ng-click="triggerChange()">        
        <br/>
        <h1>Face</h1>
        <img src="Images/CharacterAssets/Faces/Faces0001.png" />
        
        <br/>
    </div>           
    
    <div class="grid-item navigationBar charSelector" style="grid-column: 1; grid-row: 4 / span 2;" ng-click="triggerChange()">        
        <br/>
        <h1>Arms</h1>
        <img src="Images/CharacterAssets/Sleeves/Sleeves0001.png" />        
        <br/>
    </div>    
    
    <div class="grid-item navigationBar charSelector" style="grid-column: 5; grid-row: 4 / span 2;" ng-click="triggerChange()">        
        <br/>   
        <h1>Torso</h1>        
        <img src="Images/CharacterAssets/Torso/Torso0001.png" />        
        <br/>
    </div>      
    
    <div class="grid-item navigationBar charSelector" style="grid-column: 1; grid-row: 6 / span 2;" ng-click="triggerChange()">        
        <br/>
        <h1>Hands</h1>        
        <img src="Images/CharacterAssets/Hands/Hands0001.png" />        
        <br/>
    </div>    

    <div class="grid-item navigationBar charSelector" style="grid-column: 5; grid-row: 6 / span 2;" ng-click="triggerChange()">        
        <br/>
        <h1>Legs</h1>          
        <img src="Images/CharacterAssets/Pants/Pants0001.png" />   
        <br/>
    </div>     
    
    <div class="grid-item navigationBar charSelector" style="grid-column: 1; grid-row: 8 / span 2;" ng-click="triggerChange()">        
        <br/>
        <h1>Random</h1>              
        <br/>
    </div>    

    <div class="grid-item navigationBar charSelector" style="grid-column: 5; grid-row: 8 / span 2;" ng-click="triggerChange()">        
        <br/>
        <h1>Feet</h1>     
        <img src="Images/CharacterAssets/Feet/Feet0001.png" />   
        <br/>
    </div>    
    
    <div class="grid-item logo" style="grid-column: 2 / span 3; grid-row: 10;" ng-click="switchArtefact($event, 'D', 0);" ng-click="triggerChange()">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>    
    
</div>    