<div class="grid-container roomDirectory">
    
    <!-- Row 1 Background image -->
    <div style="grid-column: 1 / span 10; grid-row: 1; background-image: url('Images/RoomC/topRibbon.svg'); background-repeat: no-repeat;">
        &nbsp;
    </div>
    
    <div class="grid-item navigationBar" style="grid-column: 1 / span 7; grid-row: 1;">
        
        <ul>

            <li ng-click="switchArtefact($event, 'C', 2);">
                <img id="artefact02" src="Images/RoomC/rockingHorse.svg" />                       
            </li>

            <li ng-click="switchArtefact($event, 'C', 6);">            
                <img id="artefact06" src="Images/RoomC/vaseRoses.svg" />
            </li> 
            
            <li ng-click="switchArtefact($event, 'C', 1);">
                <img id="artefact01" src="Images/RoomC/childhoodHome.svg" />                    
            </li>
            
            <li ng-click="switchArtefact($event, 'C', 3);">
                <img id="artefact03" src="Images/RoomC/dollGirl.svg" />
            </li>
            
            <li ng-click="switchArtefact($event, 'C', 4);">
                <img id="artefact04" src="Images/RoomC/typeWriter.svg" />
            </li>

            <li ng-click="switchArtefact($event, 'C', 5);">            
                <img id="artefact05" src="Images/RoomC/statueBuddha.svg" />             
            </li>   
            
            <li ng-click="switchArtefact($event, 'C', 8);">            
                <img id="artefact08" src="Images/RoomC/honoraryDoctorate.svg" />   
            </li>                             
            
        </ul>
            
    </div>  
    
    <div class="grid-item typeWriter" style="grid-column: 6 / span 5; grid-row: 1 / span 3;">
        <div ng-include src="'Templates/Keyboard/depositCreation.html'" ng-controller="KeyboardCTRL"></div>                                    
    </div>              

    <!-- Row 2 -->

    <div class="grid-item itemDirectory exposition" style="grid-column: 1 / span 5; grid-row: 2; background-color: rgba(255,255,255,.4);">

        <div ng-if="activeArtefact === 0" class="animated fadeIn">
            <h1>Find out more!</h1>

            <p>
                Each of the artefacts in this room are intimately connected to PL Travers life and ambitions.
            </p>

            <p>
                Touch one of the objects on the left to find out more about her connection and inspirations.
            </p>                

        </div>

        <div ng-if="activeArtefact === 2" class="animated fadeIn">
            <h1>Mervyn the Rocking Horse</h1>

            <p>
                Mervyn the Rocking horse was named after Mervyn Peake, an illustrator and story teller famous for his Gormenghast series of novels.
                <img src="Images/RoomC/mervynPeake.jpg" />
            </p>
            
            <p>
                In addition to writing his own stories, Mervyn illustrated novels by Lewis Carrol, Quentin Crisp, Robert Louis Stevenson and Balzac.
            </p>
            <p>
                The exact reason why PL Travers named her Rocking Horse after him will never be known, but it is known that she kept this whimsical companion close for almost her entire life.                
            </p>
            
            <p style="color: red;">
                We all have peers, people in our life and periphery with whom we feel some kinship.

                Perhaps, like Bert in Mary Poppins, this person expresses many of your own qualities in a way that is very different from your own.

                Consider writing about yourself from this person's perspective. 

                How would your peers describe you?
            </p>
            
        </div>   

        <div ng-if="activeArtefact === 1" class="animated fadeIn">
            <h1>Childhood Home</h1>

            <p>
                In PL Travers novels, the Banks’ live comfortably in a dilapidated house where it is made quite clear by the father that one may have either a nice house or four children, but not both.                
                <img src="Images/RoomC/picChildhoodHome.jpg" />
            </p>

            <p>
                There is a nod to the exigencies of life in these settings, that wealth and comfort are a sacrifice one may choose to make, or perhaps have no say in at all.
            </p>
            
            <p>
                The iconic candy-pink door in the family home serves to remind us that whilst the exterior of our lives may simply be serviceable, the interior may well harbour the love, safety and care of family.
            </p>
            
            <p style="color: red;">
                Consider your own childhood home. Did you have eccentric neighbours?

                Take a moment to write a small story detailing your childhood home, how a stranger to your neighbourhood might find their way to your very own front-door and the characters they might meet on the way.
            </p>
         
            
        </div>       

        <div ng-if="activeArtefact === 8" class="animated fadeIn">
            <h1>Honorary Doctorate</h1>

            <p>
                P. L. Travers was a writer in residence at Radcliffe College in 1965, Smith College in 1966 and the Claremont Colleges in California in 1970. 
            </p>
            <p>
                She was also awarded an honorary doctorate from Chatham College in Pittsburgh and lived on a Navajo Indian reservation, studying myth and folklore.
                <img src="Images/RoomC/picChatham.jpg" />
            </p>
            <p>
                Travers was appointed Officer of the Order of the British Empire (OBE) in the 1977 New Year Honours.                
            </p> 
            
            <p style="color: red;">
“The roots of education are bitter, but the fruit is sweet.” Aristotle

“Education is the most powerful weapon which you can use to change the world.” Nelson Mandela.

How did you learn to read and write? How do you believe that your early educational experiences shaped your creative writing? 
            </p>            

        </div>           

       <div ng-if="activeArtefact === 5" class="animated fadeIn">
            <h1>Spirituality</h1>

            <p>
                PL Travers was a student of Zen philosophy, Buddhism and Hindu teachings … to name but a few of her interests.
            </p>
            <p>                
                She was particularly fond of Hanuman, a Hindu divinity known for his enthusiastic efforts to serve and bring joy into the world, inspiring her book Friend Monkey (1971).
                <img src="Images/RoomC/picHanuman.jpeg" />
            </p>
            <p>
                PL Travers believed that stories arose from the mysterious places of the soul, bubbling up into the conscious mind during the quiet moments of meditation and reflection.
            </p>

            <p style="color: red;">
Many people have a spiritual framework, a set of beliefs, traditions and rituals which form the basis of a personal relationship with the universe and the divine.

Mary Poppins, for example, arrives and leaves with the East Wind … as Hanuman was birthed with help from Vayu, God of the East Wind.

Our beliefs can shape our creativity in ways that we may not consciously realise. 

Take a moment to write a small story that reflect your own beliefs and how they have shaped the person you are today.
            </p>            
            
            
        </div>  

       <div ng-if="activeArtefact === 4" class="animated fadeIn">
            <h1>Typewriter</h1>

            <p>
                “Actresses grow old, dancers grow wobbly, whereas a writer still has a typewriter,” PL Travers.
                <img src="Images/RoomC/picAutoWriting.jpg" />
            </p>
            <p>
                She believed that handwriting was a more direct connection to her subconscious, a form of automatic writing.                
            </p>
            
            <p style="color: red;">
                For PL Travers, this initial phase of pouring out her creativity by hand and then moving it to her typewriter was an important part of her process.

                As a writer, do you have a creative process? What tools do you use to create?
            </p>               
            
        </div>  

       <div ng-if="activeArtefact === 6" class="animated fadeIn">
            <h1>Vase of Roses</h1>

            <p>
                “A Zen priest with whom I studied told me that Mary Poppins was full of Zen; that in every Zen story there is always a single object which contains a secret. 
                <img src="Images/RoomC/picZenRose.jpg" />
            </p>
            <p>
                Sometimes the secret is revealed, sometimes not. It doesn’t matter, but it is always present.” PL Travers
            </p>
            
            <p style="color: red;">
                Everybody keeps some things about themselves private. This secrecy can build mystery, perhaps protect our vulnerabilities, or simply make it possible to walk with confidence in the world.

                Those things we never say, never share, which can only be inferred, are a core part of our personality and character.

                Perhaps you feel inspired to share a small story that illuminates something otherwise unknown about yourself?
            </p>             

        </div>  

       <div ng-if="activeArtefact === 3" class="animated fadeIn">
            <h1>Childhood doll</h1>

            <p>
                PL Travers childhood doll is an example of the Dutch Doll tradition, where lathe-turned lengths of wood are held together by pegs and sold to children undressed.
                <img src="Images/RoomC/picDutchDoll.jpg" />
            </p>
            <p>
                The owners of these dolls would then create the outfit for the doll themselves.
            </p>
            <p>
                In this, the Dutch Doll resembled an Artist’s Mannequin and was actually used by PL Travers and Mary Shepherd in this role to create the iconic look and feel of Mary Poppins herself.
            </p>
            
            <p style="color: red;">
                Some of the first stories we ever told were with our toys. 

                We sat to one side, an invisible puppeteer, breathing imagination into these otherwise inanimate objects, waking them to wonderful life.

                What stories did you tell through your childhood toys? 
            </p>            

        </div>  

      

    </div>
    
</div>    