<div class="grid-container roomDirectory">
    
    <!-- Row 1 Background image -->
    <div style="grid-column: 1 / span 5; grid-row: 1 / span 2;">
        
        <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />
        
         <h1 class="blue">Inspiration Station</h1>
         
        <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />
         
         <h2>
            <b class="blue">Touch</b> one of the characters below to find out more about P.L. Travers' creations.
        </h2>
    </div>
    
    <div style="grid-column: 6 / span 5; grid-row: 1;">
         <h1 class="red">Make a deposit into the Story Bank</h1>
    </div>    

    <div class="grid-item" style="grid-column: 6 / span 5; grid-row: 2 / span 8;">
        <div ng-include src="'Templates/Keyboard/depositCreation.html'" ng-controller="KeyboardCTRL"></div>                                    
    </div>          

    <!-- Nav Elements -->
    
    <!--
        grid-template-columns: 192px 192px 192px 192px 192px 192px 192px 192px 192px 192px;    
        grid-template-rows: 108px 108px 108px - 108px 108px 108px 108px 108px 108px 108px;    
    -->

    <div class="grid-item navigationBar" style="grid-column: 1 / span 2; grid-row: 2 / span 2;" ng-click="switchArtefact($event, 'D', 14);">        
        <img class="largeNavImage" id="artefact14" src="Images/RoomD/Orion-Cherry-Tree-Lane-Vector.svg" />             
    </div>              

    <div class="grid-item navigationBar" style="grid-column: 2 / span 3; grid-row: 2 / span 2;" ng-click="switchArtefact($event, 'D', 11);">        
        <img class="largeNavImage" id="artefact11" src="Images/RoomD/Miss-Andrews-Vector.svg" />                      
    </div>

    <div class="grid-item navigationBar" style="grid-column: 4 / span 2; grid-row: 2 / span 2;" ng-click="switchArtefact($event, 'D', 13);">        
        <img class="largeNavImage" id="artefact13" src="Images/RoomD/Mrs-Bird-Vector.svg" />
    </div>
    
    <div class="grid-item navigationBar" style="grid-column: 1; grid-row: 5 / span 2;" ng-click="switchArtefact($event, 'D', 10);">        
        <img class="largeNavImage" id="artefact10" src="Images/RoomD/Jane-Banks-Vector.svg" />                       
    </div>

    <div class="grid-item navigationBar" style="grid-column: 5; grid-row: 5 / span 2;" ng-click="switchArtefact($event, 'D', 12);">        
        <img class="largeNavImage" id="artefact12" src="Images/RoomD/Mr-banks-Vector.svg" />  
    </div>    

    <!-- Row 2 -->

    <div class="grid-item itemDirectory exposition" style="grid-column: 2 / span 3; grid-row: 5 / span 4;">

        <div ng-if="activeArtefact === 0" class="animated fadeIn">

            <div>
                <img class="centreNavImage" src="Images/RoomD/Explore-the-characters-text.svg" />                       
            </div>
            
        </div>

        <div ng-if="activeArtefact === 10" class="animated fadeIn">

            <p>
                In Mary Poppins Comes Back, <b class="blue">Jane Banks</b> calls herself a hen who has just laid “seven lovely white eggs and I am sitting with my wings over them brooding. Cluck-cluck!” 
            </p>
            <p>
                When PL Travers was a child she pretended to be a hen laying eggs in the garden and wouldn’t come in for dinner, when her mother called!
            </p>
            <p>
                When creating personalities for a story, you might choose bits and bobs from different people you know, to create a well formed character. 
            </p>
            
        </div>   

        <div ng-if="activeArtefact === 11" class="animated fadeIn">

            <p>                
                <b class="blue">Miss Andrew</b> is the large and often frightening former nanny of Mr Banks. She is a recurring character in the Mary Poppins books who is mean and rude. Nearly everyone is afraid of her, except Mary Poppins!
            </p>

            <p>
                When creating a story, think about including an unlikeable character. Or think about your characters having unlikeable traits. A dirty, rotten scoundrel will often make a story more interesting for the reader!                                
            </p>
            
        </div>   
        
        <div ng-if="activeArtefact === 12" class="animated fadeIn">

            <p>
                <b class="blue">Mr Banks</b> has no copy yet.
            </p>

        </div>          

        <div ng-if="activeArtefact === 13" class="animated fadeIn">

            <p>
                <b class="blue">The Bird Woman</b> is an elderly woman who sits on the steps of St Paul's Cathedral in London and feeds the birds. She sells bags of crumbs to passers-by for tuppence a bag and is good friends with Mary.
            </p>
            
            <p>
                The Bird Woman has conversations with the children about Mary and the nature of shadows. Although she may not look it at first, she proves to be very wise.
            </p>            

        </div>     
        
        <div ng-if="activeArtefact === 14" class="animated fadeIn">

            <p>
                <b class="blue">Orion</b> appears in Mary Poppins in Cherry Tree Lane when he comes down to earth from the stars above.  He is a friend of Mary’s.
            </p>
            
            <p>
                In Greek mythology, he was a giant huntsman whom Zeus, King of the Gods,  placed among the stars as the constellation of Orion.
            </p>            

        </div>         
      
    </div>
    
    <div class="grid-item logo" style="grid-column: 2 / span 3; grid-row: 10;" ng-click="switchArtefact($event, 'D', 0);">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>    
    
</div>    