<div class="grid-container roomDirectory">
    
    <!-- Row 1 Background image -->
    <div style="grid-column: 1 / span 5; grid-row: 1 / span 2;">
         <h1 class="blue">Explore the objects in this room</h1>
         <h2>
             <b class="blue">Touch</b> one of the objects below to find out more about her life.
        </h2>
    </div>
    
    <div style="grid-column: 6 / span 5; grid-row: 1;">
         <h1 class="red">Make a deposit into the Story Bank</h1>
    </div>    
    
    <div class="grid-item navigationBar" style="grid-column: 1 / span 5; grid-row: 3;">
        
        <ul>

            <li ng-click="switchArtefact($event, 'C', 2);">
                <img id="artefact02" src="Images/RoomC/Rocking-Horse-Vector.svg" />                       
            </li>

            <li ng-click="switchArtefact($event, 'C', 6);">            
                <img id="artefact06" src="Images/RoomC/Home-Sweet-Home-Paperweight-Vector.svg" />
            </li> 
            
            <li ng-click="switchArtefact($event, 'C', 1);">
                <img id="artefact01" src="Images/RoomC/Family-Home-Vector.svg" />                    
            </li>
            
            <li ng-click="switchArtefact($event, 'C', 4);">
                <img id="artefact04" src="Images/RoomC/Typewriter-Vector.svg" />
            </li>

            <li ng-click="switchArtefact($event, 'C', 5);">            
                <img id="artefact05" src="Images/RoomC/Buddha-Vector.svg" />             
            </li>   
            
            <li ng-click="switchArtefact($event, 'C', 8);">            
                <img id="artefact08" src="Images/RoomC/Honorary-Doctorate-Vector.svg" />   
            </li>                             
            
        </ul>
            
    </div>  
    
    <div class="grid-item" style="grid-column: 6 / span 5; grid-row: 2 / span 8;">
        <div ng-include src="'Templates/Keyboard/depositCreation.html'" ng-controller="KeyboardCTRL"></div>                                    
    </div>              

    <!-- Row 2 -->

    <div class="grid-item itemDirectory exposition" style="grid-column: 2 / span 3; grid-row: 5 / span 4;">

        <div ng-if="activeArtefact === 0" class="animated fadeIn">

            <p>
                Each of the artefacts in this room are intimately connected to P.L. Travers life, experience, philosophy and ambition.
            </p>

        </div>

        <div ng-if="activeArtefact === 2" class="animated fadeIn">

            <p>
                <b class="blue">Mervyn the Rocking Horse</b> was named after Mervyn Peake, an illustrator and story teller famous for his Gormenghast series of novels.
            </p>
            
            <p>
                In addition to writing his own stories, Mervyn illustrated novels by Lewis Carrol, Quentin Crisp, Robert Louis Stevenson and Balzac.
            </p>
            <p>
                The exact reason why PL Travers named her Rocking Horse after him will never be known, but it is known that she kept this whimsical companion close for almost her entire life.                
            </p>
            
            
        </div>   

        <div ng-if="activeArtefact === 1" class="animated fadeIn">

            <p>
                <b class="blue">A Pink Door</b> greeted visitors to the terraced Chelsea residence where P.L. Travers lived for 30 years.
            </p>
            
            <p>
                This pink door was the same colour of the cover of <i>Mary Poppins in Cherry Tree Lane</i>.                
            </p>
            
            <p>
                Her study was at the top of the house: a white-walled room, crowded with books and papers, it's austerity relieved by a modern rocking chair.
            </p>
            
            <!--
            <p>
                <img src="Images/RoomC/picChildhoodHome.jpg" />
            </p>     
            -->
            
        </div>       

        <div ng-if="activeArtefact === 8" class="animated fadeIn">

            <p>
                P. L. Travers was a writer in residence at Radcliffe College in 1965, Smith College in 1966 and the Claremont Colleges in California in 1970. 
            </p>
            <p>
                She was awarded a <b class="blue">Honorary Doctorate from Chatham College</b> in Pittsburgh and lived on a Navajo Indian reservation, studying myth and folklore.
                <!-- <img src="Images/RoomC/picChatham.jpg" /> -->
            </p>
            <p>
                Travers was appointed <b class="blue">Officer of the Order of the British Empire (OBE)</b> in the 1977 New Year Honours.                
            </p> 

        </div>           

       <div ng-if="activeArtefact === 5" class="animated fadeIn">

            <p>
                PL Travers was a student of <b class="blue">Zen philosophy, Buddhism and Hindu teachings</b> … to name but a few of her interests.
            </p>
            <p>                
                She was particularly fond of Hanuman, a Hindu divinity known for his enthusiastic efforts to serve and bring joy into the world, inspiring her book Friend Monkey (1971).
            </p>
            <p>
                PL Travers believed that stories arose from the mysterious places of the soul, bubbling up into the conscious mind during the quiet moments of meditation, reflection and communion.
            </p>
            
        </div>  

       <div ng-if="activeArtefact === 4" class="animated fadeIn">

            <p>
                “<i>Actresses grow old, dancers grow wobbly, whereas <b class="blue">a writer still has a typewriter.</b></i>” P.L. Travers.
            </p>
            <p>
                She believed that handwriting was a more direct connection to her subconscious, a form of automatic writing.
            </p>
            
            <p>                
                "<i>Nothing I had written before 'Mary Poppins' had anything to do with children, and I have always assumed, when I thought about it at all, that she had come out of the same well of nothingness as the poetry, myth and legend that had absorbed me all my writing life.</i>" P.L. Travers
            </p>
            
        </div>  

       <div ng-if="activeArtefact === 6" class="animated fadeIn">

            <p>
                Then she picked up a small <b class="blue">glass paperweight</b>. Not the one with the prisoned snowstorm that was used in the film, but a more modest dome with a house inside.
            </p>
            <p>
                The legend on the globe read "<i>Home Sweet Home</i>".                
            </p>
            <p>
                "<i>Some day,</i>" Miss Travers said, "<i>I might write a story about this paperweight, because now-a-days, there are so few people, so few who have that sense of home, a safe place, eternal, hidden in their hearts.</i>"
                
            </p>
        </div>  

    </div>
    
    <div class="grid-item logo" style="grid-column: 2 / span 3; grid-row: 10;" ng-click="switchArtefact($event, 'C', 0);">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>    
    
</div>    