<div class="grid-container storyDirectory">
    
    <!-- Row 1 Background image -->
    <div style="grid-column: 1 / span 10; grid-row: 1 / span 2;" class="center">
        
        <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
        <h1 class="blue">Choose a Story</h1>         
        <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />        
        
         <h2>
             <b class="blue">Touch</b> one of the categories below to explore our collection.
        </h2>
        
    </div>
    
    <!-- My Account -->
    <div class="grid-item center myAccount" style="grid-column: 9 / span 2; grid-row: 1 / span 2;">    
        <img src="Images/RoomL/MyAccount_Button.svg" />            
    </div>    
    
    
    
    <!-- Categories -->
    <div class="grid-item center category" style="grid-column: 1 / span 5; grid-row: 3 / span 2;">    
        <img src="Images/RoomL/Category_Maryborough.svg" ng-click="switchCategory($event, 'Maryborough');"/>            
    </div>

    <div class="grid-item center category" style="grid-column: 4 / span 4; grid-row: 3 / span 2;">    
        <img src="Images/RoomL/Category_Romance.svg" ng-click="switchCategory($event, 'Romance');"/>
    </div>    
    
    <div class="grid-item center category" style="grid-column: 6 / span 5; grid-row: 3 / span 2;">    
        <img src="Images/RoomL/Category_Adventure.svg" ng-click="switchCategory($event, 'Adventure');"/>
    </div>    

    <div class="grid-item center category" style="grid-column: 1 / span 5; grid-row: 5 / span 2;">    
        <img src="Images/RoomL/Category_Fantasy.svg" ng-click="switchCategory($event, 'Fantasy');"/>
    </div>    
    
    <div class="grid-item center category" style="grid-column: 4 / span 4; grid-row: 5 / span 2;">    
        <img src="Images/RoomL/Category_Horror.svg" ng-click="switchCategory($event, 'Horror');"/>
    </div>      
    
    <div class="grid-item center category" style="grid-column: 6 / span 5; grid-row: 5 / span 2;">    
        <img src="Images/RoomL/Category_Drama.svg" ng-click="switchCategory($event, 'Drama');"/>
    </div>          
    
    <div class="grid-item center category" style="grid-column: 1 / span 5; grid-row: 7 / span 2;">    
        <img src="Images/RoomL/Category_Thriller.svg" ng-click="switchCategory($event, 'Thriller');"/>
    </div>    
    
    <div class="grid-item center category" style="grid-column: 4 / span 4; grid-row: 7 / span 2;">    
        <img src="Images/RoomL/Category_Comedy.svg" ng-click="switchCategory($event, 'Comedy');" />
    </div>      
    
    <div class="grid-item center category" style="grid-column: 6 / span 5; grid-row: 7 / span 2;">    
        <img src="Images/RoomL/Category_ScienceFiction.svg" ng-click="switchCategory($event, 'Science Fiction');"/>
    </div>     
    
    <!-- Finish it off -->
    
    <div class="grid-item logo center" style="grid-column: 1 / span 10; grid-row: 10;" ng-click="switchArtefact($event, 'C', 0);">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>     
    
</div>    