<div class="grid-container roomDirectory">
    
    <!-- Row 1 Background image -->
    <div style="grid-column: 1 / span 5; grid-row: 1 / span 2;">
        
        <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />
        
         <h1 class="blue">Inspiration Station</h1>
         
        <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />
         
         <h2>
            <b class="blue">Tap</b> on the things that inspire you.
        </h2>
        
    </div>
    
    <div style="grid-column: 6 / span 5; grid-row: 1;">
         <h1 class="red">Make a deposit into the Story Bank</h1>
    </div>    

    <div class="grid-item" style="grid-column: 6 / span 5; grid-row: 2 / span 8;">
        <div ng-include src="'Templates/Keyboard/depositCreation.html'" ng-controller="KeyboardCTRL"></div>                                    
    </div>          

    <!-- Nav Elements -->
    
    <!--
    
        grid-template-columns: 192px 192px 192px 192px 192px 192px 192px 192px 192px 192px;    
        grid-template-rows: 108px 108px 108px 108px 108px 108px 108px 108px 108px 108px;    
    
    -->
    
    <div style="background-image: url('Images/RoomI/Stars.png'); grid-column: 4 / span 2; grid-row: 1 / span 3; margin-left: 92px;" class="grid-item navigationBar cloudSelecter">        
        &nbsp;
    </div>     

    <div style="z-index: 1; grid-column: 1; grid-row: 2 / span 3;" class="grid-item navigationBar cloudSelecter">        
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_01_OutLine.png" alt="" ng-click="triggerCloud($event, 'Books')" />        
            <h3 class="blue">Books</h3>                        
        </div>
        
        <div class="gifContainer" ng-click="triggerCloudGif($event, 'Books')">        
            <img src="Images/RoomI/Books.gif" alt=""/>            
        </div>         
        
    </div>    

    <div class="grid-item navigationBar cloudSelecter" style="margin-left: -96px; z-index: 2; grid-column: 3; grid-row: 2 / span 3;">        
        
        <div class="cloudContainer" style="background-image: url('Images/RoomI/Cloud_02_OutLine.png');" ng-click="triggerCloud($event, 'Music')">        
            <h3 class="blue">Music</h3>                        
        </div>
        
        <div class="gifContainer" style="margin-left: -192px;" ng-click="triggerCloudGif($event, 'Music')">        
            <img src="Images/RoomI/Music.gif" alt=""/>            
        </div>
        
    </div>           
    
    <div class="grid-item navigationBar cloudSelecter" style="z-index: 1; grid-column: 4; grid-row: 2 / span 3;">
        
        <div class="cloudContainer" style="background-image: url('Images/RoomI/Cloud_03_OutLine.png');" ng-click="triggerCloud($event, 'Nature')">
            <h3 class="blue">Nature</h3>                        
        </div>
        
        <div class="gifContainer" style="margin-left: -192px;" ng-click="triggerCloudGif($event, 'Nature')">        
            <img src="Images/RoomI/Nature.gif" alt=""/>            
        </div>               

    </div>   
    
    <div class="grid-item navigationBar cloudSelecter" style="z-index: 1; margin-top: 54px; grid-column: 1; grid-row: 4;" >        
        
        <div class="cloudContainer" style="background-image: url('Images/RoomI/Cloud_04_OutLine.png');" ng-click="triggerCloud($event, 'History')">        
            <h3 class="blue">History</h3>                        
        </div>
        
        <div class="gifContainer" style="margin-left: -192px;" ng-click="triggerCloudGif($event, 'History')">        
            <img src="Images/RoomI/History.gif" alt=""/>            
        </div>        
                
    </div>    

    <div class="grid-item navigationBar cloudSelecter" style="z-index: 2; margin-top: 54px; margin-left: -96px; grid-column: 3; grid-row: 4 / span 3;">
        
        <div class="cloudContainer" style="background-position-x: 8px; background-position-y: 8px; background-image: url('Images/RoomI/Cloud_05_OutLine.png');" ng-click="triggerCloud($event, 'Travel')">        
            <h3 class="blue">Travel</h3>                        
        </div>
        
        <div class="gifContainer" style="margin-left: -192px;" ng-click="triggerCloudGif($event, 'Travel')">        
            <img src="Images/RoomI/Travel.gif" alt=""/>            
        </div>          
        
    </div>           
    
    <div class="grid-item navigationBar cloudSelecter" style="z-index: 1; margin-top: 54px; grid-column: 4; grid-row: 4 / span 3;">
        
        <div class="cloudContainer" style="background-image: url('Images/RoomI/Cloud_06_OutLine.png');" ng-click="triggerCloud($event, 'Dreams')">        
            <h3 class="blue">Dreams</h3>                        
        </div>
        
        <div class="gifContainer" style="margin-left: -192px;" ng-click="triggerCloudGif($event, 'Dreams')">        
            <img src="Images/RoomI/Dreams.gif" alt=""/>            
        </div>         

    </div>          
    
    <div class="grid-item navigationBar cloudSelecter" style="z-index: 1; grid-column: 1; grid-row: 7 / span 3;">        
        
        <div class="cloudContainer" style="background-image: url('Images/RoomI/Cloud_07_OutLine.png');" ng-click="triggerCloud($event, 'Food')">        
            <h3 class="blue">Food</h3>                        
        </div>
        
        <div class="gifContainer" style="margin-left: -192px;" ng-click="triggerCloudGif($event, 'Food')">        
            <img src="Images/RoomI/Food.gif" alt=""/>            
        </div>           

    </div>    

    <div class="grid-item navigationBar cloudSelecter" style="z-index: 2; margin-left: 96px; grid-column: 2; grid-row: 7 / span 3;">        
        
        <div class="cloudContainer" style="background-position-x: -32px; background-image: url('Images/RoomI/Cloud_08_OutLine.png');" ng-click="triggerCloud($event, 'Art')">        
            <h3 class="blue">Art</h3>                        
        </div>
        
        <div class="gifContainer" style="margin-left: -192px;" ng-click="triggerCloudGif($event, 'Art')">        
            <img src="Images/RoomI/Art.gif" alt=""/>            
        </div>        

    </div>           
    
    <div class="grid-item navigationBar cloudSelecter" style="z-index: 1; grid-column: 4; grid-row: 7 / span 3;">        
        
        <div class="cloudContainer" style="background-image: url('Images/RoomI/Cloud_09_OutLine.png');" ng-click="triggerCloud($event, 'People')">
            <h3 class="blue">People</h3>                        
        </div>
        
        <div class="gifContainer" style="margin-left: -192px;" ng-click="triggerCloudGif($event, 'People')">        
            <img src="Images/RoomI/People.gif" alt=""/>            
        </div>            

    </div>          
    
    <div class="grid-item logo" style="grid-column: 2 / span 3; grid-row: 10;" ng-click="switchArtefact($event, 'I', 16);">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>       
    
</div>    