<div id="screenSaverID" class="grid-container screenSaver" ng-click="restoreSession()">
    
    <!-- Row 1 Background image -->
    <div style="grid-column: 4 / span 4; grid-row: 4 / span 3;">
        
        <img class="screenSaveAccent" src="Images/Common/letterAccent_Left.svg" />
        
        <h1 class="blue screenSaverTitle">Inspiration Station</h1>
         
        <img class="screenSaveAccent" src="Images/Common/letterAccent_Right.svg" />
         <br/>
         <h1 class="blue">We are all storytellers.</h1>
    </div>    

    
    <div class="callToAction" style="grid-column: 5 / span 2; grid-row: 7 / span 1;">
         <h1 class="red">Touch to begin</h1>
    </div>  
    
    
    <div class="grid-item logo" style="grid-column: 4 / span 4; grid-row: 10;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>        
    
</div>