<div id="screenSaverID" class="grid-container screenSaver" ng-click="restoreSession()">
    
    <!-- Row 1 Background image -->
    <div style="grid-column: 4 / span 4; grid-row: 4 / span 3;">
        
        <img class="screenSaveAccent" src="Images/Common/letterAccent_Left.svg" />
        
        <h1 class="blue screenSaverTitle">Inspiration Station</h1>
         
        <img class="screenSaveAccent" src="Images/Common/letterAccent_Right.svg" />
         <br/>
         <h1 class="blue">We are all storytellers.</h1>
    </div>    

    
    <div id="callToActionButton" class="callToAction" style="grid-column: 5 / span 2; grid-row: 7 / span 1;">
         <h1 class="red">Touch to begin</h1>
    </div>  
  
    <div style="grid-column: 1 / span 3; grid-row: 6 / span 3;">
        <img id="maryFloat" src="Images/Screensaver/MARYFLOAT.gif" style="opacity: 0;" />   
    </div>       
    
    <div style="grid-column: 8 / span 3; grid-row: 1 / span 3;">
        <img id="maryGoRound" src="Images/Screensaver/MARYGOROUND.gif" style="opacity: 0;"/>   
    </div>    
    
    <div style="grid-column: 2 / span 2; grid-row: 6 / span 3;">
        <img id="maryWindLeft" src="Images/Screensaver/WIND.gif" style="opacity: 0; margin-left: -32px;"/>   
    </div>      
    
    <div style="grid-column: 2 / span 2; grid-row: 6 / span 3;">
        <img id="maryWindPoppinsLeft" src="Images/Screensaver/WINDYPOPPINS.gif" style="opacity: 0;"/>   
    </div>          
    
    <div style="grid-column: 8 / span 2; grid-row: 6 / span 3;">
        <img id="maryWindRight" src="Images/Screensaver/WIND.gif" style="opacity: 0;"/>   
    </div>      
    
    <div style="grid-column: 8 / span 2; grid-row: 6 / span 3;">
        <img id="maryWindPoppinsRight" src="Images/Screensaver/WINDYPOPPINS.gif" style="opacity: 0;" />   
    </div>        
    
    <div class="grid-item logo" style="grid-column: 4 / span 4; grid-row: 10;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>        
    
</div>