<div class="adminContainer">

    <!-- Login option -->   
    <div class="loginDialogue" ng-if="securedLogin === 0">

        <div class="md-whiteframe-1dp">

                <h1 class="red" style="display: block; text-align: center;">Story Bank Curator</h1>

                <br/><br/>
                
                <form name="loginForm">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input id="storyEmail" required type="email" ng-model="email" placeholder="Email">
                    </md-input-container>        

                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input id="storyPassword" required type="password" ng-model="password" placeholder="Password">
                    </md-input-container>  

                    <md-input-container class="md-block" style="text-align: center;">
                        <md-button class="md-raised" ng-click="authenticate(ev)">Submit</md-button>
                        <md-button class="md-raised" ng-click="backToMenu(ev)">Cancel</md-button>
                    </md-input-container>              

                </form>


        </div>

    </div>   

    <!-- Dashboard view -->
    <div class="adminDirectory" ng-if="securedLogin === 1">

        <div class="md-whiteframe-1dp">
            
            <h1 class="red" style="display: inline; text-align: left; margin-right: 64px; padding-top:16px;">Story Bank Curator</h1> 
            
            <md-input-container class="md-block" style="text-align: center; display: inline;">
                <md-button class="md-raised" ng-click="addDeposit()">Create a Story</md-button>
                <md-button class="md-raised" ng-click="addStaff($event)">Create Staff</md-button>
                <md-button class="md-raised" ng-click="addTag($event)">Create a Tag</md-button>
                &nbsp;
                <md-button class="md-raised" ng-click="logOut()">Logout {{displayName}}</md-button>                
            </md-input-container>   
            
        </div>
        
        <div class="md-whiteframe-1dp" style="padding: 0; min-height: 420px;">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    
                    <md-tab label="New Stories ({{newStoriesCount}})">
                        <md-content class="md-padding">

                            <div id="newStories" grid-data grid-options="gridNewStoriesOptions" grid-actions="gridNewStoriesActions">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th sortable="ID" class="sortable">#</th>
                                        <th sortable="STORED_BY" class="sortable">Email</th>                                                            
                                        <th sortable="STORED_AS" class="sortable">Nom De Plume</th>                                                            
                                        <th sortable="STORED_ON" class="sortable">Received</th>                                                                                
                                        <th sortable="TRANSCRIPTION" class="sortable">Story</th>  
                                        <th>&nbsp;</th>  
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr grid-item>
                                            <td ng-click="editDeposit(item, $event)" ng-bind="item.ID" class="underline"></td>
                                            <td ng-bind="item.STORED_BY"></td> 
                                            <td ng-bind="item.STORED_AS"></td> 
                                            <td ng-bind="item.STORED_ON | date:'dd/MM/yyyy'"></td>
                                            <td ng-bind="item.TRANSCRIPTION"></td> 
                                            <td ng-click="deleteDeposit(item, $event)" class="underline centre">
                                                Delete                                                
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>   
                            
                        </md-content>
                    </md-tab>   
                        
                    <md-tab label="Reported Stories ({{flaggedStoriesCount}})">
                         <md-content class="md-padding">

                            <div id="flaggedStories" grid-data grid-options="gridFlaggedStoriesOptions" grid-actions="gridFlaggedStoriesActions">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th sortable="ID" class="sortable">#</th>
                                        <th sortable="TITLE" class="sortable">Title</th>                                       
                                        <th sortable="STORED_BY" class="sortable">Stored By</th>                                                            
                                        <th sortable="STORED_AT" class="sortable">Stored At</th>                                                            
                                        <th sortable="STORED_ON" class="sortable">Stored On</th>                                                                                
                                        <th sortable="AUDIO_TYPE" class="sortable">Audio Type</th>                                                            
                                        <th sortable="AUDIO_LENGTH" class="sortable">Audio Length</th>                                                            
                                        <th sortable="RECEIVED_BY" class="sortable">Received By</th>                                                            
                                        <th sortable="RECEIVED_ON" class="sortable">Received On</th>                                                                                
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr grid-item ng-click="editDeposit(item, $event)">
                                            <td ng-bind="item.ID"></td>
                                            <td ng-bind="item.TITLE"></td>
                                            <td ng-bind="item.STORED_BY"></td> 
                                            <td ng-bind="item.STORED_AS"></td> 
                                            <td ng-bind="item.STORED_ON | date:'MM/dd/yyyy'"></td>
                                            <td ng-bind="item.AUDIO_TYPE"></td> 
                                            <td ng-bind="item.AUDIO_LENGTH"></td> 
                                            <td ng-bind="item.RECEIVED_BY"></td> 
                                            <td ng-bind="item.RECEIVED_ON"></td>                    
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>           
                        </md-content>
                    </md-tab>     

                    <md-tab label="Approved Stories ({{approvedStoriesCount}})">
                        <md-content class="md-padding">

                            <div id="newStories" grid-data grid-options="gridApprovedStoriesOptions" grid-actions="gridNewStoriesActions">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th sortable="ID" class="sortable">#</th>
                                        <th sortable="STORED_BY" class="sortable">Email</th>                                                            
                                        <th sortable="STORED_AS" class="sortable">Nom De Plume</th>                                                            
                                        <th sortable="STORED_ON" class="sortable">Received</th>                                                                                
                                        <th sortable="TRANSCRIPTION" class="sortable">Story</th>  
                                        <th>&nbsp;</th>  
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr grid-item>
                                            <td ng-click="editDeposit(item, $event)" ng-bind="item.ID" class="underline"></td>
                                            <td ng-bind="item.STORED_BY"></td> 
                                            <td ng-bind="item.STORED_AS"></td> 
                                            <td ng-bind="item.STORED_ON | date:'dd/MM/yyyy'"></td>
                                            <td ng-bind="item.TRANSCRIPTION"></td> 
                                            <td ng-click="deleteDeposit(item, $event)" class="underline centre">
                                                Delete                                                
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>   
                            
                        </md-content>
                    </md-tab>                       
                    
                    <md-tab label="Tags ({{tagCount}})">
                        <md-content class="md-padding">

                            <div id="members" grid-data grid-options="gridTagsOptions" grid-actions="gridMembersActions">
                               <table class="table table-bordered table-striped">
                                   <thead>
                                   <tr>
                                       <th sortable="ID" class="sortable">#</th>
                                       <th sortable="TITLE" class="sortable">Title</th>                                       
                                       <th sortable="DESCRIPTION" class="sortable">Description</th>  
                                       <th>&nbsp;</th>  
                                   </tr>
                                   </thead>
                                   <tbody>
                                   <tr grid-item>
                                       <td ng-bind="item.ID" class="underline" ng-click="editTag(item, $event)"></td>
                                       <td ng-bind="item.TITLE"></td>
                                       <td ng-bind="item.DESCRIPTION"></td> 
                                        <td ng-click="deleteTag(item, $event)" class="underline centre">
                                            Delete                                                
                                        </td>                                        
                                   </tr>
                                   </tbody>
                               </table> 
                                
                            </div>
                        </md-content>
                    </md-tab>   
                    
                    <md-tab label="Staff ({{staffCount}})">
                        <md-content class="md-padding">

                            <div id="members" grid-data grid-options="gridMembersOptions" grid-actions="gridMembersActions">
                               <table class="table table-bordered table-striped">
                                   <thead>
                                   <tr>
                                        <th sortable="ID" class="sortable">#</th>
                                        <th sortable="EMAIL" class="sortable">Email</th>                                       
                                        <th sortable="PREFERRED_NAME" class="sortable">Name</th>                                           
                                        <th sortable="IS_ACTIVE" class="sortable">Active?</th>                                                                                                    
                                        <th>&nbsp;</th>  
                                   </tr>
                                   </thead>
                                   <tbody>
                                   <tr grid-item>
                                        <td ng-click="editMember(item, $event)" ng-bind="item.ID" class="underline"></td>
                                        <td ng-bind="item.EMAIL"></td>
                                        <td ng-bind="item.PREFERRED_NAME"></td>                                                                                
                                        <td ng-bind="item.IS_ACTIVE"></td>                                        
                                        <td ng-click="passwordMember(item, $event)" class="underline centre">
                                             Set Password                                                
                                        </td>                                           
                                   </tr>
                                   </tbody>
                               </table> 
                            </div>
                        </md-content>
                    </md-tab>                                        
                    
                </md-tabs>
            </md-content>
        </div>

    </div>  
    
    <br/><br/>
    
    <div style="display: block; text-align: center;" class="logo" ng-click="goHome()">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>        
      
</div>