<md-dialog aria-label="List dialog">
    
    <md-dialog-content>
        <h1 class="blue">Tag Record</h1>
        
        <br/><br/>

        <md-input-container style="width: 100%;">
            <label>Title</label>
            <input class="modalText" md-maxlength="1024" ng-model="tag.TITLE" />
        </md-input-container>

        <md-input-container style="width: 100%;">
            <label>Description</label>
            <textarea class="modalText" md-maxlength="8192" ng-model="tag.DESCRIPTION"></textarea>
        </md-input-container>         
        
        <md-input-container style="width: 48%; margin-top: -16px;">
            <md-checkbox class="modalText" ng-model="approved" ng-change="changeApproval(approved)"  ng-true-value="1" ng-false-value="0" aria-label="Approved?">
                Core Category?
            </md-checkbox>            
        </md-input-container>          
        
    </md-dialog-content>
    
    <md-dialog-actions>
        <md-button ng-click="saveDialog()" class="md-primary">Save & Close</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
    
</md-dialog>