<div class="grid-container deposits">

    <div class="grid-item center" style="grid-column: 1 / span 8; grid-row: 1 / span 3;">
        <h1 class="blue">
            <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
            Story Bank Teller
            <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />     
        </h1>
        <h2>
             <b class="blue">Tap</b> the characters below to learn more about them.
        </h2>
    </div>    
    
    <div class="grid-item center" style="grid-column: 9 / span 8; grid-row: 1 / span 3;">
        <h1 class="red">
            <img class="letterAccent" src="Images/Common/letterAccent_LeftRed.svg" />        
            Story Deposit
            <img class="letterAccent" src="Images/Common/letterAccent_RightRed.svg" />     
        </h1>         
    </div>        

    <!-- Key interactions -->    

    <div class="grid-item center" style="grid-column: 2 / span 2; grid-row: 4 / span 3;">        
        <img id="artefact14" src="Images/RoomD/Orion-Cherry-Tree-Lane-Vector.svg" ng-click="switchArtefact($event, 'D', 14);"/>             
    </div>              

    <div class="grid-item center" style="grid-column: 6 / span 2; grid-row: 4 / span 3;">        
        <img id="artefact11" src="Images/RoomD/Miss-Andrews-Vector.svg"  ng-click="switchArtefact($event, 'D', 11);"/>                      
    </div>

    <div class="grid-item center" style="grid-column: 4 / span 2; grid-row: 4 / span 3;">        
        <img id="artefact13" src="Images/RoomD/Mrs-Bird-Vector.svg" ng-click="switchArtefact($event, 'D', 13);"/>
    </div>
    
    <div class="grid-item center" style="grid-column: 1 / span 2; grid-row: 7 / span 3;">        
        <img id="artefact10" src="Images/RoomD/Jane-Banks-Vector.svg" ng-click="switchArtefact($event, 'D', 10);" />                       
    </div>

    <div class="grid-item center" style="grid-column: 7 / span 2; grid-row: 7 / span 3;">        
        <img id="artefact12" src="Images/RoomD/Mr-banks-Vector.svg" ng-click="switchArtefact($event, 'D', 12);"/>  
    </div>    

    <!-- Row 2 -->

    <div class="grid-item center" style="grid-column: 3 / span 4; grid-row: 7 / span 5;">

        <div ng-if="activeArtefact === 0" class="animated fadeIn">

            <div>
                <img class="centreNavImage" src="Images/RoomD/Explore-the-characters-text.svg" />                       
            </div>
            
        </div>

        <div ng-if="activeArtefact === 10" class="animated fadeIn">

            <p>
                While Mary Poppins is the main character or protagonist, <b class="blue">Jane Banks</b> also shares this role. Her childhood adventures throughout the story most closely resemble those of P.L. Travers herself. They were both the eldest child, and they were both born on a Wednesday.
            </p>
            <p>
                Jane is a dreamer like her father. Sometimes she could be 'wilful, lazy and selfish' but she is also kind and thoughtful and notices things that other people miss.
            </p>
            <p>
                It's common for writers to weave aspects of their own life into their creative work.
            </p>
            
        </div>   

        <div ng-if="activeArtefact === 11" class="animated fadeIn">

            <p>                
                <b class="blue">Miss Andrews</b> is a minor antagonist and first appears in <i>Mary Poppins Comes Back</i>. She was one Mr Banks' childhood governess and is nicknamed 'The Holy Terror'.
            </p>
            <p>
                P.L. Travers develops the same character in her final book, <i>Mary Poppins and the House Next Door</i> when Miss Andrews moves into the vacant house at No. 18, bringing trouble to Cherry Tree Lane. She is mean and rude, large and often frightening. Nearly everyone is afraid of her, except Mary Poppins!
            </p>            
            <p>
                Not every character can be perfect like Mary Poppins. Your character might have unlikeable traits, but that often makes a story more interesting.
            </p>
            
        </div>   
        
        <div ng-if="activeArtefact === 12" class="animated fadeIn">

            <p>
                <b class="blue">Mr George Banks</b> is widely thought to be modelled on P.L. Travers' own father. Like many interesting characters, he is complicated and flawed.
            </p>
            <p>
                Although Mr Banks is a dreamer and a star-gazer, he's also difficult, moody and sometimes melancholy. His character undertakes the "Hero's Journey" - facing his problems and making major change. (<i>You can learn more about the Hero's Journey in the Library next door.</i>)
            </p>
            <p>
                Although he is absent throughout much of the story, he acts as a foil - a character who contrasts with Mary Poppins in order to highlight her mysterious and playful qualities.
            </p>

        </div>          

        <div ng-if="activeArtefact === 13" class="animated fadeIn">

            <p>
                The <b class="blue">Bird Lady</b> is a classic character who appears outside St. Paul's Cathedral. We hear her cry 'Feed the birds, tuppence a bag'.
            </p>            
            <p>
                Her name is Mrs Smith, the Park Keeper's mother.
            </p>            
            <p>
                The Bird Lady is not a mere ornament to the storyline, but a wise woman who teaches the Banks children about life.
            </p>
            <p>
                P.L. Travers' stories are filled with old women, grandmothers and crones. They impart wisdom, can be somewhat difficult and often have supernatural or magical abilities.
            </p>
        </div>     
        
        <div ng-if="activeArtefact === 14" class="animated fadeIn">
            <p>
                P.L. Travers often used characters from mythology, fairy tales and nursery rhymes in her stories.
            </p>
            <p>
                <b class="blue">Orion</b>, the 'giant hunter' constellation in the night sky comes from Greek mythology. He was a beautiful youth who was slain by Artemis, and then given immortality among the stars by Zeus.
            </p>            
            <p>
                His character plays a supporting role. As a friend of Mary Poppins, he often comes down to earth to support her in the lessons she teaches the children.
            </p>            

        </div>         
      
    </div>
    
    <!-- Deposit Section -->    
    <div ng-include src="'Templates/Keyboard/typeWriter.html'" ng-controller="KeyboardCTRL" class="grid-item" style="grid-column: 9 / span 8; grid-row: 3 / span 11;"></div>                                    

    <!-- Sign Off -->    
    <div class="grid-item center logo" style="grid-column: 1 / span 8; grid-row: 13;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>        
    
</div>    