<div class="grid-container deposits">
    
    <div class="grid-item center" style="grid-column: 1 / span 8; grid-row: 1 / span 3;">
        <h1 class="blue">
            <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
            Story Bank Teller
            <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />     
        </h1>
        <h2>
             <b class="blue">Touch</b> the questions which most interest you.
        </h2>
    </div>    
    
    <div class="grid-item center" style="grid-column: 9 / span 8; grid-row: 1 / span 3;">
        <h1 class="red">
            <img class="letterAccent" src="Images/Common/letterAccent_LeftRed.svg" />        
            Story Deposit
            <img class="letterAccent" src="Images/Common/letterAccent_RightRed.svg" />     
        </h1>         
    </div>      
    
    <!-- margin-left: 92px; -->
    
    <div style="grid-column: 6 / span 3; grid-row: 2 / span 2;" class="grid-item">        
        <img src="Images/RoomI/Stars.png" style="width: 100%;" alt="" />        
    </div>     

    <div style="z-index: 1; grid-column: 2 / span 2; grid-row: 4 / span 3;" class="grid-item cloudSelecter">        
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_01_OutLine.png" alt="" ng-click="triggerCloud($event, 'Books')"/>        
            <h3 class="blue">What would you like to<br/>learn more about?</h3>
        </div>
        
        <div class="gifContainer">        
            <img src="Images/RoomI/Books.gif" alt="" ng-click="triggerCloudGif($event, 'Books')"/>            
        </div>         
        
    </div>    

    <div class="grid-item cloudSelecter" style="z-index: 2; grid-column: 4 / span 2; grid-row: 4 / span 3;">        
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_02_OutLine.png" alt="" ng-click="triggerCloud($event, 'Music')"/>        
            <h3 class="blue">What favourite music or song<br/>evokes special memories for you?</h3>
        </div>
        
        <div class="gifContainer">        
            <img src="Images/RoomI/Music.gif" alt="" ng-click="triggerCloudGif($event, 'Music')"/>            
        </div>           

    </div>           
    
    <div class="grid-item cloudSelecter" style="z-index: 1; grid-column: 6 / span 2; grid-row: 4 / span 3;">
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_03_OutLine.png" alt="" ng-click="triggerCloud($event, 'Nature')"/>        
            <h3 class="blue">Where do you feel<br/>most at peace?</h3>                        
        </div>
        
        <div class="gifContainer">        
            <img src="Images/RoomI/Nature.gif" alt="" ng-click="triggerCloudGif($event, 'Nature')"/>            
        </div>          

    </div>   
    
    <div class="grid-item cloudSelecter" style="z-index: 1; grid-column: 2 / span 2; grid-row: 7 / span 3;" >        
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_04_OutLine.png" alt="" ng-click="triggerCloud($event, 'History')"/>  
            <h3 class="blue">If you could time travel,<br/>where would you go?</h3>
        </div>
        
        <div class="gifContainer">        
            <img src="Images/RoomI/History.gif" alt="" ng-click="triggerCloudGif($event, 'History')"/>            
        </div>           
                
    </div>    

    <div class="grid-item cloudSelecter" style="z-index: 2; grid-column: 4 / span 2; grid-row: 7 / span 3;">
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_05_OutLine.png" alt="" ng-click="triggerCloud($event, 'Travel')"/> 
            <h3 class="blue">Where would you go<br/>to find adventure?</h3>                        
        </div>
        
        <div class="gifContainer">        
            <img src="Images/RoomI/Travel.gif" alt="" ng-click="triggerCloudGif($event, 'Travel')"/>            
        </div>                 
        
    </div>           
    
    <div class="grid-item cloudSelecter" style="z-index: 1; grid-column: 6 / span 2; grid-row: 7 / span 3;">
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_06_OutLine.png" alt="" ng-click="triggerCloud($event, 'Dreams')"/> 
            <h3 class="blue">If you could make a dream come<br/>true, what would it be?</h3>
        </div>
        
        <div class="gifContainer">        
            <img src="Images/RoomI/Dreams.gif" alt="" ng-click="triggerCloudGif($event, 'Dreams')"/>            
        </div>  

    </div>          
    
    <div class="grid-item cloudSelecter" style="z-index: 1; grid-column: 2 / span 2; grid-row: 10 / span 3;">        
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_07_OutLine.png" alt="" ng-click="triggerCloud($event, 'Food')"/>         
            <h3 class="blue">What is your favourite meal and<br/>who would you share it with?</h3>                        
        </div>
        
        <div class="gifContainer">        
            <img src="Images/RoomI/Food.gif" alt="" ng-click="triggerCloudGif($event, 'Food')"/>            
        </div>         

    </div>    

    <div class="grid-item cloudSelecter" style="z-index: 2; grid-column: 4 / span 2; grid-row: 10 / span 3;">        
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_08_OutLine.png" alt="" ng-click="triggerCloud($event, 'Art')"/>                
            <h3 class="blue">What type of storyteller are you?<br/>How do you share stories?</h3>
        </div>
        
        <div class="gifContainer">        
            <img src="Images/RoomI/Art.gif" alt="" ng-click="triggerCloudGif($event, 'Art')"/>            
        </div>         

    </div>           
    
    <div class="grid-item cloudSelecter" style="z-index: 1; grid-column: 6 / span 2; grid-row: 10 / span 3;">        
        
        <div class="cloudContainer">        
            <img src="Images/RoomI/Cloud_09_OutLine.png" alt="" ng-click="triggerCloud($event, 'People')"/>  
            <h3 class="blue">What would you ask your<br/>hero to teach you?</h3>                        
        </div>
        
        <div class="gifContainer">        
            <img src="Images/RoomI/People.gif" alt="" ng-click="triggerCloudGif($event, 'People')"/>            
        </div>           

    </div>          
    
    <!-- Deposit Section -->    
    <div ng-include src="'Templates/Keyboard/typeWriter.html'" ng-controller="KeyboardCTRL" class="grid-item" style="grid-column: 9 / span 8; grid-row: 3 / span 11;"></div>                                    

    <!-- Sign Off -->    
    <div class="grid-item center logo" style="grid-column: 1 / span 8; grid-row: 13;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>      
    
</div>    