<md-dialog aria-label="Deposit Story">
  <form ng-cloak>

    <md-dialog-content>
        <div class="md-dialog-content">        

            <md-content md-no-float>  
                <p style="font-family: Olivetti; font-size: 11px;"><b class="red" style="font-family: BalfordBase; font-size: 24px;">Ready</b> to deposit your story?<br/><br/>
                    Please enter your <b class="red">visitor id</b> so we can find your <b class="red">account</b>.<br/><br/>
                </p>
            </md-content>

            <md-input-container md-no-float class="paperButton">                 
                <input ng-disabled="true" type="email" ng-model="email" placeholder="anon@storybank.com.au" />
            </md-input-container>

            <md-input-container md-no-float class="paperButton">    

                <div class="red animated tada" ng-click="completeEmail();">
                    <p>Next!</p>
                </div>
                
                <br/>
                <br/> 
                
                <div ng-click="cancelDeposit();">
                    <p>Cancel!</p>
                </div>

            </md-input-container>                      
      
            <br/><br/>

        </div>          
        
    </md-dialog-content>

  </form>
</md-dialog>

