<md-dialog aria-label="Account Balance">
  <form ng-cloak>

    <md-dialog-content>
        <div class="md-dialog-content">                    
            <md-input-container md-no-float class="outputChoice">                 

                <div>
                    <h2>
                        Please choose your preferred <b class="red">Withdrawal</b> method.
                    </h2>                                  
                </div>                
                
                <div class="withdrawalMethod">
                    
                    <p ng-click="processOutput('EMAIL_PRINT');">
                        <b class="red">Email & Print</b>
                    </p>  
                                        
                    <p ng-click="processOutput('EMAIL');">
                        <b class="red">Email Only</b>
                    </p>  

                    <p ng-click="processOutput('PRINT');">
                        <b class="red">Print Only</b>
                    </p>  

                    <p>&nbsp;</p>
                    
                    <p ng-click="cancelDeposit();">
                        <b class="blue">Cancel!</b>
                    </p>  
                    
                </div>
                
            </md-input-container>

        </div>          
        
    </md-dialog-content>

  </form>
</md-dialog>