

<div class="grid-container">

    <md-whiteframe class="md-whiteframe-1dp grid-item" style="grid-column: 1 / span 3; min-height: 0;">
        <h1>Story Bank Kiosk</h1>        
    </md-whiteframe>
    
    <md-whiteframe class="md-whiteframe-1dp grid-item" ng-click="changeLocation('Admin')">
        <h1>Admin</h1>
        <div>&nbsp;</div>        
        <div style="text-align: center;"><img src="Images/controls.png" /></div> 
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-1dp grid-item" ng-click="changeLocation('Playback')">
        <h1>Playback</h1>
        <div>&nbsp;</div>
        <div style="text-align: center;"><img src="Images/speaker.png" /></div>
    </md-whiteframe>
    
    <md-whiteframe class="md-whiteframe-1dp grid-item" ng-click="changeLocation('Record')">
        <h1>Record</h1>
        <div>&nbsp;</div>        
        <div style="text-align: center;"><img src="Images/microphone.png" /></div>
    </md-whiteframe>    
    
    <md-whiteframe class="md-whiteframe-1dp grid-item" style="grid-column: 1 / span 3; min-height: 0;">
        <h2>Armsign Pty Ltd</h2>
    </md-whiteframe>    

</div>        
        