<div class="grid-container menu">

    <div class="grid-item center" style="grid-column: 1 / span 18; grid-row: 1 / span 2;">
        <h1 class="blue">
            <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
            Story Bank Menu
            <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />     
        </h1>
        <h2>Please choose an option to display on this device</h2>
    </div>
    
    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/C/0')" style="grid-column: 3 / span 4; grid-row: 6 / span 4;">
        <h1 class="blue">Artefacts</h1>
        <br/>
        <h2>P.L. Travers Objects of Importance</h2>
    </div>        
    
    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/D/0')" style="grid-column:  8 / span 4; grid-row: 6 / span 4;">
        <h1 class="blue">Characters</h1>
        <br/>
        <h2>P.L. Travers Creations</h2>
    </div>    

    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/E/15')" style="grid-column: 13 / span 4; grid-row: 6 / span 4;">
        <h1 class="blue">Character Generator</h1>
        <br/>
        <h2>Create a character, make a story.</h2>
    </div>    

    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/I/16')" style="grid-column: 3 / span 4; grid-row: 11 / span 4;">
        <h1 class="blue">Inspirations</h1>
        <br/>
        <h2>Myths & Influences</h2>
    </div>    

    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/L/0')" style="grid-column: 8 / span 4; grid-row: 11 / span 4;">
        <h1 class="blue">Story Teller</h1>
        <br/>
        <h2>Withdrawals</h2>
    </div>   
    
    <div class="grid-item menuItem center" ng-click="changeLocation('Admin')" style="grid-column: 13 / span 4; grid-row: 11 / span 4;">
        <h1 class="blue">Curator</h1>
        <br/>
        <h2>Administration Functions</h2>
    </div>     

    <div class="grid-item center logo" style="grid-column: 1 / span 18; grid-row: 17;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>        
    
</div>        
        