<div class="grid-container menu">

    <div class="grid-item center" style="grid-column: 1 / span 16; grid-row: 1 / span 3;">
        <h1 class="blue">
            <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
            Story Bank Menu
            <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />     
        </h1>
        <h2>Please choose an option to display on this device</h2>
    </div>
    
    <!--
        grid-template-columns: 1% 8% 8% 8% 8% 8% 8% 1% 1% 8% 8% 8% 8% 8% 8% 1%;    
        grid-template-rows: 2% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 2%;    
    -->
    
    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/C/1')" style="grid-column: 2 / span 6; grid-row: 4 / span 3;">
        <h1 class="blue">Objects and Places</h1>
    </div>        
    
    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/D/10')" style="grid-column:  10 / span 6; grid-row: 4 / span 3;">
        <h1 class="blue">Roles and Actions</h1>
    </div>    

    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/E/15')" style="grid-column: 2 / span 6; grid-row: 7 / span 3;">
        <h1 class="blue">Character Generator</h1>       
    </div>    

    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/I/16')" style="grid-column: 10 / span 6; grid-row: 7 / span 3;">
        <h1 class="blue">Inspirations and Themes</h1>
    </div>    

    <div class="grid-item menuItem center" ng-click="changeLocation('Room/View/L/0')" style="grid-column: 2 / span 6; grid-row: 10 / span 3;">
        <h1 class="blue">Withdrawals</h1>
    </div>   
    
    <div class="grid-item menuItem center" ng-click="changeLocation('Admin')" style="grid-column: 10 / span 6; grid-row: 10 / span 3;">
        <h1 class="blue">Curator</h1>
    </div>     

    <div class="grid-item center logo" style="grid-column: 1 / span 16; grid-row: 13;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>        
    
</div>        
        