<div class="grid-container deposits" ng-click="restoreSession()">
    
    <div id="screenSaverID" class="grid-item screenSaver" style="grid-column: 1 / span 8; grid-row: 1 / span 3;">
        <h1 class="blue">
            <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
            Story Bank Teller
            <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />     
        </h1>
        <h2>
             We are all storytellers.
        </h2>
    </div>    
    
    <div id="callToActionButton" class="callToAction" style="grid-column: 6 / span 6; grid-row: 7 / span 4;">
         <h1 class="red">Touch to begin</h1>
    </div>  
  
    <div style="grid-column: 1 / span 3; grid-row: 6 / span 3;">
        <img id="maryFloat" src="Images/Screensaver/MARYFLOAT.gif" style="opacity: 0;" />   
    </div>       
    
    <div style="grid-column: 8 / span 3; grid-row: 1 / span 3;">
        <img id="maryGoRound" src="Images/Screensaver/MARYGOROUND.gif" style="opacity: 0;"/>   
    </div>    
    
    <div style="grid-column: 2 / span 2; grid-row: 6 / span 3;">
        <img id="maryWindLeft" src="Images/Screensaver/WIND.gif" style="opacity: 0; margin-left: -64px;"/>   
    </div>      
    
    <div style="grid-column: 2 / span 2; grid-row: 6 / span 3;">
        <img id="maryWindPoppinsLeft" src="Images/Screensaver/WINDYPOPPINS.gif" style="opacity: 0;"/>   
    </div>          
    
    <div style="grid-column: 8 / span 2; grid-row: 6 / span 3;">
        <img id="maryWindRight" src="Images/Screensaver/WIND.gif" style="opacity: 0;"/>   
    </div>      
    
    <div style="grid-column: 8 / span 2; grid-row: 6 / span 3;">
        <img id="maryWindPoppinsRight" src="Images/Screensaver/WINDYPOPPINS.gif" style="opacity: 0;" />   
    </div>        
    
    <!-- Sign Off -->    
    <div class="grid-item center logo" style="grid-column: 1 / span 16; grid-row: 13;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>     
    
</div>  

<!--
    grid-template-columns: 1% 8% 8% 8% 8% 8% 8% 1% 1% 8% 8% 8% 8% 8% 8% 1%;    
    grid-template-rows: 2% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 2%;  
-->