<div class="grid-container withdrawals">
    
    <div class="grid-item center" style="grid-column: 1 / span 16; grid-row: 1 / span 3;">
        <h1 class="blue">
            <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
            Withdraw a Story
            <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />     
        </h1>
        <h2>
             <b class="blue">Select</b> one of the categories below to explore our collection.
        </h2>
    </div>    
    
    <!-- My Account -->
    <div class="grid-item center myAccount" style="grid-column: 14 / span 2; grid-row: 1 / span 2;">    
        <img src="Images/RoomL/MyAccount_Button.svg" ng-click="openAccount($event)"/>            
    </div>    
    
    <ul class="grid-item" style="grid-column: 2 / span 15; grid-row: 4 / span 12;">            
        <li ng-if="tag.IS_PUBLIC == 1" class="center category" ng-repeat="tag in tags" ng-click="switchCategory($event, tag.TITLE);">                
            <div>{{tag.TITLE}}</div>
        </li>
    </ul>
    
    <!-- Sign Off -->    
    <div class="grid-item center logo" style="grid-column: 1 / span 16; grid-row: 13;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>       
    
</div>    