<div class="grid-container storyDirectory" md-swipe-left="leftSwipe();" md-swipe-right="rightSwipe();">
    
    <!-- Row 1 Background image -->
    <div style="grid-column: 2 / span 8; grid-row: 2;" class="center">
        
        <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
        <h1 class="blue">Read a Story</h1>         
        <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />        

    </div>
    
    <!-- My Account -->
    <div class="grid-item center myAccount" style="grid-column: 9; grid-row: 1 / span 2;">    
        <img src="Images/RoomL/MyAccount_Button.svg" ng-click="openAccount()" />            
    </div> 

    <!-- Stories -->
    <div class="grid-item left" style="grid-column: 2 / span 6; grid-row: 3;">    
        <h3 id="daStory" class="red headerUnderline" ng-click="changeStory(1)">{{activeStory.TITLE}} by {{activeStory.STORED_AS}}</h3>
        <h3 id="daDiscussion" class="blue" ng-click="changeStory(0)">Discussion</h3>
    </div>    
    
    <div class="grid-item left storyDisplay" style="grid-column: 2 / span 7; grid-row: 3 / span 6;">    

        <div ng-if="showStory" ng-bind-html="activeStory.TRANSCRIPTION"></div>
        
        <div ng-if="!showStory">
            Discussions            
        </div>
        
    </div>        
    
    <div class="grid-item center" style="grid-column: 9; grid-row: 3 / span 2;">    
        <img class="storyHeart" src="Images/RoomL/Heart_Unselected.svg" />
        <br/>        
        <h3 class="instructions red">Love it.</h3>        
    </div>     

    <div class="grid-item center" style="grid-column: 9; grid-row: 5 / span 2;">    
        
        <img class="gestures" src="Images/RoomL/Gestures01.svg" />
        <br/>
        <h3 class="instructions blue">Swipe left or right to see discussion about this story.</h3>        
        
    </div>    
    
    <div class="grid-item center" style="grid-column: 9; grid-row: 7 / span 2;">    

        <img class="gestures" src="Images/RoomL/Gestures02.svg" />
        <br/>
        <h3 class="instructions blue">Swipe up or down to scroll through stories.</h3>
        
    </div>    
    
    <div class="grid-item center" style="grid-column: 9; grid-row: 9;">    
        
        <img ng-if="!showStory" class="backButton" src="Images/RoomL/CommentButton.svg" />
        <img class="backButton" src="Images/RoomL/BackButton.svg" ng-click="backToCategories();"/>
        
    </div>       
  
    <!-- Finish it off -->
    
    <div class="grid-item logo center" style="grid-column: 1 / span 10; grid-row: 9;" ng-click="backToCategories();">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>     
    
</div>    