<div class="grid-container withdrawals">
    
    <div class="grid-item center" style="grid-column: 1 / span 16; grid-row: 1 / span 3;">
        <h1 class="blue">
            <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
            Read a Story
            <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />     
        </h1>
        <h2>
             <b class="blue">Touch</b> one of the categories below to explore our collection.
        </h2>
    </div>    
    
    <!-- My Account -->
    <div class="grid-item center myAccount" style="grid-column: 14 / span 2; grid-row: 1 / span 2;">    
        <img src="Images/RoomL/MyAccount_Button.svg" ng-click="openAccount($event)"/>            
    </div>    
    
    <!-- Stories -->
    <div md-truncate class="grid-item left" style="grid-column: 2 / span 10; grid-row: 4;">            
        <h3 id="daStory" class="red underline" ng-click="changeStory(1)">{{activeStory.TITLE}} by {{activeStory.STORED_AS}}</h3>
    </div>   
    
    <div class="grid-item right" style="grid-column: 12 / span 2; grid-row: 4;">            
        <h3 id="daDiscussion" style="margin-right: 0px !important;" class="blue" ng-click="changeStory(0)">Discussion</h3>
    </div>      
    
    <div class="grid-item left storyDisplay" style="grid-column: 2 / span 12; grid-row: 4 / span 9;">    

        <div ng-if="showStory" ng-bind-html="activeStory.TRANSCRIPTION"></div>
        
        <div class="commentsList" ng-if="!showStory">
            <ul>            
                <li id="comment{{comment.ID}}" class="hoverCursor" ng-repeat="comment in comments">                
                    <div>{{comment.COMMENT}}</div>
                    <div>{{comment.COMMENT_ON_FORMATTED}}</div>
                </li>
            </ul>
        </div>
        
    </div>        
    
    <div class="grid-item center" style="grid-column: 14 / span 2; grid-row: 5 / span 2;">    
        <img ng-if="!isLoved" class="gestures" src="Images/RoomL/Heart_Unselected.svg" ng-click="lovingIt($event)"/>       
        <img ng-if="isLoved" class="gestures" src="Images/RoomL/Heart_Selected.svg"/>       
        <h3 class="instructions red">Love it.</h3>        
    </div>     
    
    <div class="grid-item center" style="grid-column: 14 / span 2; grid-row: 7 / span 2;">    

        <img class="gestures" src="Images/RoomL/Gestures02.svg" />

        <h3 class="instructions blue">Swipe up or down to scroll through stories.</h3>
        
    </div>      

    <div ng-if="!showStory" class="grid-item center" style="grid-column: 14 / span 2; grid-row: 10;">            
        <img class="backButton" src="Images/RoomL/CommentButton.svg" ng-click="addComment($event);"/>        
    </div>       
    
    <div class="grid-item center" style="grid-column: 14 / span 2; grid-row: 12;">    
        <img class="backButton" src="Images/RoomL/BackButton.svg" ng-click="backToCategories();"/>        
    </div>       
  
    <!-- Sign Off -->    
    <div class="grid-item center logo" style="grid-column: 1 / span 16; grid-row: 13;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>      
    
</div>    