<div class="grid-container withdrawals" md-swipe-left="leftSwipe();" md-swipe-right="rightSwipe();">
    
    <div class="grid-item center" style="grid-column: 1 / span 16; grid-row: 1 / span 3;">
        <h1 class="blue">
            <img class="letterAccent" src="Images/Common/letterAccent_Left.svg" />        
            Choose a {{activeCategory}} Story
            <img class="letterAccent" src="Images/Common/letterAccent_Right.svg" />     
        </h1>
        <h2>
             <b class="blue">Touch</b> one of the categories below to explore our collection.
        </h2>
    </div>    
    
    <!-- My Account -->
    <div class="grid-item center myAccount" style="grid-column: 14 / span 2; grid-row: 1 / span 2;">    
        <img src="Images/RoomL/MyAccount_Button.svg" ng-click="openAccount($event)"/>            
    </div>         

    <!-- Stories -->
    <div class="grid-item left" style="grid-column: 2 / span 12; grid-row: 4;">    

        <h3 id="newestStory" class="red underline" ng-click="switchOrderBy('NEWEST');">Newest</h3>
        <h3 id="popularStory" class="blue" ng-click="switchOrderBy('POPULAR');">Popular</h3>
        <h3 id="authorStory" class="blue" ng-click="switchOrderBy('AUTHOR');">Author</h3>
        <h3 id="azStory" class="blue" ng-click="switchOrderBy('TITLE');">A&mdash;Z</h3>
        
    </div>    
    
    <div id="storyDisplay" class="grid-item left storyList" style="grid-column: 2 / span 12; grid-row: 4 / span 9;">    
        <ul>            
            <li id="deposit{{deposit.ID}}" class="hoverCursor" ng-repeat="deposit in withdrawals" ng-click="switchStory(deposit.ID);">                
                <div md-truncate>{{deposit.TITLE}}</div>
                <div md-truncate>{{deposit.STORED_AS}}</div>
            </li>
        </ul>
    </div>        
    
    <div class="grid-item center" style="grid-column: 14 / span 2; grid-row: 8 / span 2;">    

        <img class="gestures" src="Images/RoomL/Gestures02.svg" />

        <h3 class="instructions blue">Swipe up or down to scroll through stories.</h3>
        
    </div>    
    
    <div class="grid-item center" style="grid-column: 14 / span 2; grid-row: 12;" ng-click="backToCategories();">    

        <img class="backButton" src="Images/RoomL/BackButton.svg" />
        
    </div>       
  
    <!-- Sign Off -->    
    <div class="grid-item center logo" style="grid-column: 1 / span 16; grid-row: 13;">
        <img src="Images/Common/StoryBanklogo.png" />   
    </div>     
    
</div>    